.import-assets-popup-wrapper {
    display: flex;
    flex-direction: column;
}

.import-assets-popup-progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}