<blu-modal>
    <blu-heading type="primary" size="s">
        Login details
    </blu-heading>
    <div class="row g-0 mt-3 align-items-center">
        <div class="col-sm-4">
            <blu-text type="secondary">Account email</blu-text>
        </div>
        <div class="col-sm-8 mt-1 mt-sm-0">
            <app-skeleton-loader-text size="l" *ngIf="isLoading"></app-skeleton-loader-text>
            <blu-text *ngIf="!isLoading">{{userEmail}}</blu-text>
        </div>
    </div>
</blu-modal>
<div class="mt-3">
    <blu-modal>
        <blu-heading type="primary" size="s">
            Plan details
        </blu-heading>
        <div class="row g-0 mt-3 align-items-center">
            <div class="col-sm-4">
                <blu-text type="secondary">Current plan</blu-text>
            </div>
            <div class="col-sm-8 mt-1 mt-sm-0 account-details-plan-name">
                <app-skeleton-loader-text size="s" *ngIf="isLoading"></app-skeleton-loader-text>
                <blu-text *ngIf="!isLoading">{{ PlanNameToDisplay[planName] }}</blu-text>
            </div>
        </div>
        <div class="row g-0 mt-2 align-items-center">
            <div class="col-sm-4">
                <blu-text type="secondary">Plan expires</blu-text>
            </div>
            <div class="col-sm-8 mt-1 mt-sm-0">
                <app-skeleton-loader-text size="m" *ngIf="isLoading"></app-skeleton-loader-text>
                <blu-text *ngIf="!isLoading">{{planExpiresAt}}</blu-text>
            </div>
        </div>
    </blu-modal>
</div>
<div class="mt-3">
    <blu-modal borderColor="error">
        <blu-heading type="primary" feedback="error" size="s">
            Danger zone
        </blu-heading>
        <div class="row g-0 mt-3 align-items-center">
            <div class="col-sm-4">
                <blu-text type="secondary" tooltip="This will permanently delete all account data. This action is not reversible. If you have an active subscription, please contact us (feedback@finacle.app) for a pro-rated refund.">Delete account</blu-text>
            </div>
            <div class="col-sm-8 account-details-plan-name mt-2 mt-sm-0">
                <blu-button type="error" (click)="confirmedDelete === 3 ? null : onDeleteAccount()" [disabled]="confirmedDelete === 3">
                    <blu-spinner *ngIf="confirmedDelete === 3" [inlineSpace]="true"></blu-spinner>
                    <span *ngIf="confirmedDelete === 0">Permanently delete account</span>
                    <span *ngIf="confirmedDelete === 1">Are you sure?</span>
                    <span *ngIf="confirmedDelete >= 2">This is the final confirmation</span>
                </blu-button>
            </div>
        </div>
    </blu-modal>
</div>