<div class="value-history-chart-container">
    <canvas id="detailChart">{{ historyChart }}</canvas>
</div>
<div class="value-history-wrapper mb-3" *ngIf="showValueHistory">
    <mat-table #table [dataSource]="assetValues">
        <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef>
                Date
            </mat-header-cell>
            <mat-cell *matCellDef="let entry">
                <blu-text type="primary">{{getDateString(entry?.timestamp ?? 0)}}</blu-text>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef>
                <blu-input 
                    [fullWidth]="true"
                    appearance="cell"
                    [feedbackType]="FeedbackType.ERROR"
                    placeholder="Date (mm/yyyy)" 
                    type="DATE"
                    #date
                    (keydown.enter)="onAddEntry()"
                ></blu-input>
            </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="value">
            <mat-header-cell *matHeaderCellDef>
                Value
            </mat-header-cell>
            <mat-cell *matCellDef="let entry">
                <blu-text type="primary" [isNumber]="true">${{entry?.totalValue?.toLocaleString('en-US', {maximumFractionDigits: 2, minimumFractionDigits: 2}) ?? 0}}</blu-text>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef>
                <blu-input 
                    [fullWidth]="true" 
                    appearance="cell"
                    [feedbackType]="FeedbackType.ERROR"
                    placeholder="Enter value" 
                    type="CURRENCY"
                    direction="rtl"
                    #value
                    (keydown.enter)="onAddEntry()"
                ></blu-input>
            </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef>
            </mat-header-cell>
            <mat-cell *matCellDef="let entry">
                <blu-button [iconOnly]="true" iconName="kebab" type="tertiary" [matMenuTriggerFor]="appMenu"></blu-button>
                <mat-menu #appMenu="matMenu" xPosition="before" yPosition="below">
                    <div mat-menu-item [disableRipple]="true" (click)="onDeleteEntry(entry)"><blu-text type="error" size="s">Delete</blu-text></div>
                    <div mat-menu-item [disableRipple]="true"><blu-label label="Modify value" tooltip="To modify the value, add a new value with the same date."></blu-label></div>
                </mat-menu>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef>
                <blu-button [iconOnly]="true" type="primary" iconName="plus" (click)="onAddEntry()"></blu-button>
            </mat-footer-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="DISPLAYED_COLUMNS"></mat-header-row>
        <mat-row *matRowDef="let row; columns: DISPLAYED_COLUMNS;"></mat-row>
        <mat-footer-row *matFooterRowDef="DISPLAYED_COLUMNS"></mat-footer-row>
    </mat-table>
</div>
<div class="value-history-footer" *ngIf="!isAssetCustom">
    <blu-label
        class="asset-details-page-tooltip"
        type="tertiary" 
        tooltip="Come back daily to see the updated value." 
        label="This asset is tracked automatically"
    ></blu-label>
    <blu-text 
        *ngIf="!isAssetCustom && !showValueHistory"
        type="secondary"
        size="s"
    >
        Want to <blu-link (click)="toggleValueHistory()">modify values manually</blu-link>?
    </blu-text>
    <blu-text 
        *ngIf="!isAssetCustom && showValueHistory"
        type="secondary"
        size="s"
    >
        <blu-link (click)="toggleValueHistory()">Hide table</blu-link>
    </blu-text>
</div>