.value-history-chart-wrapper {
    min-height: var(--blu-height-3xl);
    height: 30vw;
    max-height: var(--blu-height-5xl);
    width: 100%;
}

.value-history-wrapper {
    display: flex;
    flex-direction: column;
}

.value-history-table {
    overflow-x: auto;
}

.mat-column-date {
    min-width: 100px;
    width: 100px;
    max-width: 100px;
}

.mat-column-value {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.mat-column-change {
    max-width: var(--blu-width-xl);
}

.mat-column-units {
    display: flex;
    justify-content: flex-end;
}

.mat-column-date {
    min-width: var(--blu-width-xxl);
    width: 100%;
    height: fit-content;
}

.mat-column-action {
    min-width: var(--blu-width-l);
    max-width: var(--blu-width-l);
    display: flex;
    justify-content: flex-end;
}