.asset-table {
    background-color: var(--blu-background-secondary);
    border: var(--blu-border-secondary);
    border-radius: var(--blu-radius-m);
    padding: var(--blu-padding-xxl);
    overflow-x: auto;
    transition: 0.2s;
    border: var(--blu-border-tertiary);
}

.asset-table:hover {
    scale: 1.02;
    transition: 0.2s;
}

.mat-column-initValue,
.mat-column-curValue,
.mat-column-units {
    justify-content: right;
    text-align: right;
}

.mat-column-units {
    min-width: var(--blu-width-l);
}

.mat-column-asset,
.mat-column-account,
.mat-column-type,
.mat-column-curValue,
.mat-column-initValue {
    min-width: var(--blu-width-xxl);
}

.mat-column-edit {
    max-width: 50px;
    min-width: 50px;
}

.asset-table-progress-bar {
    padding: var(--blu-padding-4xl);
}

.asset-table-value-cell {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.asset-table-button-group {
    display: flex;
    justify-content: flex-end;
    gap: var(--blu-space-xs);
}

.asset-table-tag {
    margin-left: var(--blu-margin-s);
}

.asset-table-title {
    padding-bottom: var(--blu-margin-m);
}

.asset-table-tag-text {
    margin-left: var(--blu-margin-xs);
}

.mat-mdc-header-row {
    text-transform: uppercase;
    font: var(--blu-font-primary);
    font-size: var(--blu-font-size-xs);
}

.mat-mdc-row {
    color: var(--blu-color-primary);
}

.mat-mdc-header-cell {
    color: var(--blu-color-tertiary)!important;
}

.asset-table-edit-menu {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.asset-table-edit-menu:hover .dropdown-content {
    display: block;
}

::ng-deep .mat-mdc-menu-content {
    padding: 0px !important;
    background-color: var(--blu-background-primary);
}

::ng-deep .mat-mdc-menu-item {
    transition: 0.3s;
}

::ng-deep .mat-mdc-menu-item:hover {
    transition: 0.3s;
}