<app-confirmation-popup
  [title]="TEXTS.ARCHIVE_POPUP_TITLE_1 + assetToArchive?.assetName + TEXTS.ARCHIVE_POPUP_TITLE_2"
  [subtitle]="TEXTS.ARCHIVE_POPUP_SUBTITLE"
  [confirmText]="TEXTS.ARCHIVE_POPUP_CTA"
  size="large"
  (confirmed)="onArchiveAssetConfirmed()"
  #archiveConfirmPopup
></app-confirmation-popup>
<div class="asset-table">
    <div *ngIf="isLoading$ | async" class="asset-table-progress-bar">
        <mat-progress-bar mode="query"></mat-progress-bar>
    </div>
    <mat-table *ngIf="!(isLoading$ | async) && !(showUnknownError$ | async)" #table [dataSource]="assets$">
        <ng-container matColumnDef="account">
            <mat-header-cell *matHeaderCellDef>
                {{ TEXTS.ACCOUNT_TITLE }}
            </mat-header-cell>
            <mat-cell *matCellDef="let asset">
                <blu-text type="primary">{{asset.account}}</blu-text>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="asset">
            <mat-header-cell *matHeaderCellDef>
                {{ TEXTS.ASSET_TITLE }}
            </mat-header-cell>
            <mat-cell *matCellDef="let asset">
                <blu-text type="primary">{{asset.assetName}}</blu-text>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="units">
            <mat-header-cell *matHeaderCellDef>
                {{ TEXTS.UNITS_TITLE }}
            </mat-header-cell>
            <mat-cell *matCellDef="let asset">
                <blu-text type="number">{{ asset.units }}</blu-text>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="initValue">
            <mat-header-cell *matHeaderCellDef>
                {{ TEXTS.COST_TITLE }}
            </mat-header-cell>
            <mat-cell *matCellDef="let asset">
                <blu-text type="number">${{ (asset.initValue ?? 0).toLocaleString('en-US', {maximumFractionDigits: 2, minimumFractionDigits: 2}) }}</blu-text>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="curValue">
            <mat-header-cell *matHeaderCellDef>
                {{ TEXTS.VALUE_TITLE }}
            </mat-header-cell>
            <mat-cell *matCellDef="let asset" class="asset-table-value-cell">
                <blu-text type="number">${{(asset.curValue ?? 0).toLocaleString('en-US', {maximumFractionDigits: 2, minimumFractionDigits: 2}) }}</blu-text>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="change">
            <mat-header-cell *matHeaderCellDef>
            </mat-header-cell>
            <mat-cell *matCellDef="let asset" class="asset-table-align-left">
                <blu-tag [type]="asset.curValue >= asset.initValue ? 'success' : 'error'">
                    <blu-icon [name]="asset.curValue >= asset.initValue ? 'chevronUp' : 'chevronDown'"></blu-icon>
                    <div class="asset-table-tag-text">
                        <blu-text size="small" type="number">{{ getPercentChange(asset.initValue, asset.curValue) }}%</blu-text>
                    </div>
                </blu-tag>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef>
            </mat-header-cell>
            <mat-cell *matCellDef="let asset" class="asset-table-value-cell">
                <blu-button [iconOnly]="true" iconName="kebab" type="tertiary" class="asset-table-edit-menu" [matMenuTriggerFor]="appMenu"></blu-button>
                <mat-menu #appMenu="matMenu" xPosition="before" yPosition="below">
                    <div mat-menu-item (click)="onDetailsAsset(asset)"><blu-text type="primary" size="small">{{ TEXTS.ENTRY_BUTTON_DETAILS }}</blu-text></div>
                    <div mat-menu-item (click)="onArchiveAsset(asset)"><blu-text type="error" size="small">{{ TEXTS.ENTRY_BUTTON_ARCHIVE }}</blu-text></div>
                </mat-menu>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="initValueTotal">
            <mat-footer-cell *matFooterCellDef>
                <blu-text weight="bold" type="number">${{ ((getInitialValueSum$() | async) ?? 0).toLocaleString('en-US', {maximumFractionDigits: 2, minimumFractionDigits: 2}) }}</blu-text>
            </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="curValueTotal">
            <mat-footer-cell *matFooterCellDef>
                <blu-text weight="bold" type="number">${{ ((getCurrentValueSum$() | async) ?? 0).toLocaleString('en-US', {maximumFractionDigits: 2, minimumFractionDigits: 2}) }}</blu-text>
            </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="changeTotal">
            <mat-footer-cell *matFooterCellDef>
                <blu-tag 
                    *ngIf="(getSumPercentChange$() | async) !== 0"
                    [type]="((getCurrentValueSum$() | async) || 0) >= ((getInitialValueSum$() | async) || 0) ? 'success' : 'error'">
                    <blu-icon [name]="((getCurrentValueSum$() | async) || 0) >= ((getInitialValueSum$() | async) || 0) ? 'chevronUp' : 'chevronDown'"></blu-icon>
                    <div class="asset-table-tag-text">
                        <blu-text size="small" type="number">{{ getSumPercentChange$() | async }}%</blu-text>
                    </div>
                </blu-tag>
            </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="blankAsset">
            <mat-footer-cell *matFooterCellDef>
            </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="blankAccount">
            <mat-footer-cell *matFooterCellDef>
            </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="blankUnits">
            <mat-footer-cell *matFooterCellDef>
            </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="blankEdit">
            <mat-footer-cell *matFooterCellDef>
            </mat-footer-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="displayedFooterColumns"></mat-footer-row>
    </mat-table>
    <blu-validation-feedback *ngIf="showUnknownError$ | async" [type]="FeedbackType.ERROR">Unknown error occured. <blu-link (click)="onPageReload()">Reload?</blu-link></blu-validation-feedback>
</div>