<div class="error-state-wrapper mt-5">
    <div class="error-state-content">
        <img src="../../../assets/images/crashed.svg" class="error-state-content"/>
        <blu-heading size="s" class="mt-3">Oops, we are having some technical issues!</blu-heading>
        <blu-text class="mt-2 mb-3" type="secondary">Try reloading the page. If that doesn't help, check back in a bit, our engineers are hard at work solving the problem!</blu-text>
        <blu-button type="primary" (click)="onReloadPage()">Reload page?</blu-button>
    </div>
</div>