<blu-modal [borderColor]="plan.selected ? 'brand' : 'normal'">
    <blu-heading size="m" [bold]="true" [subheading]="plan.name" subheadingPosition="top">
        {{ plan.price }}
    </blu-heading>
    <blu-tag *ngIf="plan.tag" type="info" class="mt-2">
        <blu-text type="info" class="p-1">
            {{ plan.tag }}
        </blu-text>
    </blu-tag>
    <div class="billing-option-features mt-3">
        <ng-container *ngFor="let benefit of plan.benefits">
            <blu-text type="secondary">
                <blu-icon name="check" class="me-2"></blu-icon>{{ benefit }}
            </blu-text>
        </ng-container>
    </div>
    <blu-button *ngIf="plan.link" type="primary" [fullWidth]="true" class="mt-3" (click)="onUpgradeClicked(plan.link)">
        {{ TEXTS.BTN_UPGRADE }}
    </blu-button>
</blu-modal>