<div class="value-history-wrapper">
    <div class="row">
        <div class="col-12 value-history-totals">
            <blu-heading
                *ngIf="!(isLoading$ | async)"
                size="x-small"
                subheading="ALL TIME"
                subheadingSize="x-small"
                [feedback]="(this.valueChange.amount ?? 0) >= 0 ? 'success' : 'error'"
                [bold]="true"
            >
                {{ this.valueChange.text ?? '' }}
            </blu-heading>
        </div>
    </div>
    <blu-modal
        [noPadding]="true"
        [outline]="outline"
    >
        <div *ngIf="(isLoading$ | async) else valueHistoryTable" class="value-history-loading">
            <mat-progress-bar mode="query"></mat-progress-bar>
        </div>
        <ng-template #valueHistoryTable>
            <mat-table #table [dataSource]="(asset$ | async)?.totalValues ?? []">
                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef>
                        Date
                    </mat-header-cell>
                    <mat-cell *matCellDef="let entry">
                        <blu-text type="primary">{{getDateString(entry?.timestamp ?? 0)}}</blu-text>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="value">
                    <mat-header-cell *matHeaderCellDef>
                        Value
                    </mat-header-cell>
                    <mat-cell *matCellDef="let entry">
                        <blu-text type="primary">${{entry?.value?.toLocaleString() ?? 0}}</blu-text>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let entry">
                        <blu-button [iconOnly]="true" iconName="kebab" type="tertiary" [matMenuTriggerFor]="appMenu"></blu-button>
                        <mat-menu #appMenu="matMenu" xPosition="before" yPosition="below">
                            <div mat-menu-item (click)="onDeleteEntry(entry)"><blu-text type="error" size="small">Delete</blu-text></div>
                        </mat-menu>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="addDate">
                    <mat-footer-cell *matFooterCellDef>
                        <blu-input 
                            [fullWidth]="true"
                            appearance="cell"
                            [feedbackType]="FeedbackType.ERROR"
                            placeholder="Date (mm/yyyy)" 
                            type="DATE"
                            #date
                            (keydown.enter)="onAddEntry()"
                        ></blu-input>
                    </mat-footer-cell>
                </ng-container>

                <ng-container matColumnDef="addValue">
                    <mat-footer-cell *matFooterCellDef>
                        <blu-input 
                            [fullWidth]="true" 
                            appearance="cell"
                            [feedbackType]="FeedbackType.ERROR"
                            placeholder="Asset value" 
                            type="NUMBER"
                            direction="rtl"
                            #value
                            (keydown.enter)="onAddEntry()"
                        ></blu-input>
                    </mat-footer-cell>
                </ng-container>

                <ng-container matColumnDef="addAction">
                    <mat-footer-cell *matFooterCellDef>
                        <blu-button [iconOnly]="true" iconName="plus" type="tertiary" (click)="onAddEntry()"></blu-button>
                    </mat-footer-cell>
                </ng-container>
        
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                <mat-footer-row *matFooterRowDef="displayedFooterColumns"></mat-footer-row>
            </mat-table>
            <blu-validation-feedback *ngIf="error$ | async" [type]="FeedbackType.ERROR">{{ error$ | async }}</blu-validation-feedback>
        </ng-template>
    </blu-modal>
</div>