.value-history-no-entries {
    width: var(--blu-width-full);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--blu-margin-xl);
    padding: var(--blu-padding-l) 0;
}

.value-history-entry {
    display: flex;
    align-items: center;
    padding: var(--blu-padding-l);
    background-color: var(--blu-background-tertiary);
}

.value-history-row-wrapper {
    margin-top: var(--blu-margin-l);
}

.value-history-entry-wrapper {
    margin-bottom: var(--blu-margin-m);
}

.value-history-row-input-right {
    margin-left: var(--blu-margin-xs);
}

.value-history-row-input-left {
    margin-right: var(--blu-margin-xs);
}