.add-asset-option-wrapper {
    padding: var(--blu-padding-xl);
    display: flex;
    margin: var(--blu-margin-s);
    justify-content: space-between;
    cursor: pointer;
    transition: 0.2s;
    border-radius: var(--blu-radius-m);
    border: var(--blu-border-tertiary);
}

.add-asset-option-wrapper:hover {
    transition: 0.2s;
    scale: 1.05;
    background-color: var(--blu-color-brand);

    .add-asset-option-icon {
        color: var(--blu-color-primary);
    }
}

.add-asset-option-wrapper:active {
    transition: 0.5s;
    scale: 0.9;
}

.add-asset-option-wrapper-primary {
    height: var(--blu-height-xl);
}

.add-asset-option-wrapper-secondary {
    height: var(--blu-height-l);
}

.add-asset-option-icon {
    color: var(--blu-color-secondary);
}

.add-asset-option-layout-top-title {
    align-self: flex-end;
}

.add-asset-option-layout-top-icon {
    align-self: flex-start;
}

.add-asset-option-layout-bottom-title {
    align-self: flex-start;
}

.add-asset-option-layout-bottom-icon {
    align-self: flex-end;
}