<div class="row g-3">
    <div class="col-sm-6">
        <app-add-asset-option
            [type]="AssetType.Stock"
            (click)="onAssetTypeClicked(AssetType.Stock)"
            (click)="null"
        ></app-add-asset-option>
    </div>
    <div class="col-sm-6">
        <app-add-asset-option
            [type]="AssetType.Vehicle"
            (click)="onAssetTypeClicked(AssetType.Vehicle)"
        ></app-add-asset-option>
    </div>
    <div class="col-sm-12">
        <app-add-asset-option
            view="secondary"
            [type]="AssetType.Cash"
            (click)="onAssetTypeClicked(AssetType.Cash)"
        ></app-add-asset-option>
    </div>
</div>