.future-projection-chart-container {
    min-height: var(--blu-height-3xl);
    height: 30vw;
    max-height: var(--blu-height-5xl);
    width: 100%;
    margin-bottom: var(--blu-margin-xl);
}

.future-projection-summary {
    margin-bottom: var(--blu-margin-xl);
}