.asset-summary-wrapper {
    background-color: var(--blu-background-secondary);
    border-radius: var(--blu-radius-m);
    width: 100%;
    height: fit-content;
    padding: var(--blu-padding-xxl);
    min-width: fit-content;
    position: relative;
    transition: 0.2s;
    border: var(--blu-border-tertiary);
}

.asset-summary-wrapper:hover {
    transition: 0.2s;
    scale: 1.02;
}

.asset-summary-value-change-wrapper {
    margin-top: var(--blu-margin-l);
}

.asset-summary-content {
    z-index: 1;
}

.asset-summary-icon {
    color: var(--blu-color-tertiary);
    position: absolute;
    top: var(--blu-padding-xxl);
    right: var(--blu-padding-xxl);
    z-index: 0;
}

.asset-type-card-view-more {
    margin-top: var(--blu-margin-s);
}