<div class="row justify-content-center px-2 px-sm-0 py-4">
  <div class="col-12 col-sm-10 col-xl-8 settings-page-wrapper">
    <blu-modal>
      <blu-button type="primary" iconName="backArrow" (click)="onBack()"
        >Back</blu-button
      >
      <blu-heading class="my-3" subheading="Last updated: 2/17/2024">
        Terms and Conditions of Service
      </blu-heading>
      <blu-text class="my-2">
        1. Acceptance of Terms<br />
        By accessing this website, you agree to be bound by these Terms and
        Conditions of Use, all applicable laws and regulations, and acknowledge
        your responsibility for compliance with any applicable local laws. If
        you do not agree with any of these terms, you are prohibited from using
        or accessing this site.
      </blu-text>
      <blu-text class="my-2">
        2. User Accounts<br />
        To use specific features of the service, users may need to create an
        account. Users are responsible for maintaining the confidentiality of
        their account information and must provide accurate and complete
        information when creating an account.
      </blu-text>
      <blu-text class="my-2">
        3. Intellectual Property<br />
        The content on Finacle, including text, graphics, logos, and images,
        constitutes the intellectual property of Finacle and is protected by
        copyright laws.
      </blu-text>
      <blu-text class="my-2">
        4. Prohibited Conduct Users agree not to:<br />
        Violate any applicable laws or regulations.<br />
        Upload any content that is infringing, defamatory, or violates the
        rights of others.<br />Use the service for any illegal or unauthorized
        purpose.<br />Attempt to gain unauthorized access to Finacle's systems
        or networks.<br />Attempt to decompile or reverse engineer any software
        contained on Finacle's website.<br />Use Finacle in a manner that
        exceeds the scope of the purchased services.<br />This license shall
        automatically terminate if you violate any of these restrictions and may
        be terminated by Finacle at any time.<br />Upon termination, you must
        destroy any downloaded materials in your possession, whether in
        electronic or printed format.
      </blu-text>
      <blu-text class="my-2">
        5. Privacy Policy<br />
        Finacle collects and uses personal information as described in its
        Privacy Policy.
      </blu-text>
      <blu-text class="my-2">
        6. Termination<br />
        Finacle reserves the right to terminate or suspend access to the service
        at its discretion, without notice.
      </blu-text>
      <blu-text class="my-2">
        7. Limitations<br />
        In no event shall Finacle or its suppliers be liable for any damages,
        including, without limitation, damages for loss of data or profit, or
        due to business interruption, arising out of the use or inability to use
        the materials on Finacle's website.
      </blu-text>
      <blu-text class="my-2">
        8. Disclaimers<br />
        Finacle makes no warranties or representations about the accuracy or
        completeness of the content. The service is provided "as is" without any
        warranty.
      </blu-text>
      <blu-text class="my-2">
        9. Governing Law<br />
        Any claim relating to Finacle's website shall be governed by the laws of
        the State of California without regard to its conflict of law
        provisions.
      </blu-text>
      <blu-text class="my-2">
        10. Changes to Terms<br />
        Finacle reserves the right to modify these Terms and Conditions at any
        time. Users are responsible for regularly reviewing the terms. By using
        this website, users agree to be bound by the current version of these
        Terms and Conditions.
      </blu-text>
      <blu-text class="my-2">
        11. Contact Information<br />
        For questions about these Terms and Conditions, please contact us at
        hello(at)finacle.app.
      </blu-text>
      <blu-text class="my-2">
        12. Entire Agreement<br />
        These Terms and Conditions constitute the entire agreement between the
        user and Finacle with respect to the service and supersede all prior or
        contemporaneous communications and proposals, whether electronic, oral,
        or written, between the user and Finacle with respect to the service.
      </blu-text>
    </blu-modal>
  </div>
</div>
