<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="login-wrapper">
      <blu-modal
        [title]="TEXTS.TITLE"
        [subtitle]="TEXTS.SUBTITLE"
        *ngIf="!(showOTPDialog$ | async) else OTPDialog"
      >
      <div class="login-modal-content">
        <blu-input
          label="Phone number"
          [required]="true"
          [fullWidth]="true"
          [feedbackType]="FeedbackType.ERROR"
          type="PHONE"
          (keydown.enter)='onSendCode()'
          (click)="clearErrors()"
          #phoneInput
        ></blu-input>
        <blu-button type="primary" [fullWidth]="true" (click)="onSendCode()" (keydown.enter)='onSendCode()'>
          <div class="login-spinner-wrapper">
            <blu-spinner *ngIf="isSendCodeSubmitting"></blu-spinner>
          </div>
          {{ BTN_TEXTS.LOGIN }}
        </blu-button>
        <blu-validation-feedback
        *ngIf="invalidLogin$ | async"
        [type]="FeedbackType.ERROR"
      >
        {{ TEXTS.INVALID_CREDENTIALS }}
      </blu-validation-feedback>
      <blu-validation-feedback
        *ngIf="unknownLoginError$ | async"
        [type]="FeedbackType.ERROR"
      >
        {{ TEXTS.UNKNWON_LOGIN_ERROR }}
      </blu-validation-feedback>
        </div>
      </blu-modal>

      <ng-template #OTPDialog>
        <blu-modal
          [title]="TEXTS.OTP_TITLE"
          [subtitle]="TEXTS.OTP_SUBTITLE"
        >
        <div class="login-modal-content">
          <blu-input
            label="One time code"
            [required]="true"
            [fullWidth]="true"
            [feedbackType]="FeedbackType.ERROR"
            type="NUMBER"
            (keydown.enter)='onConfirmCode()'
            (click)="clearErrors()"
            #codeInput
          ></blu-input>
          <blu-button type="primary" [fullWidth]="true" (click)="onConfirmCode()" (keydown.enter)='onConfirmCode'>
            <div class="login-spinner-wrapper">
              <blu-spinner *ngIf="isCheckTokenSubmitting"></blu-spinner>
            </div>
            {{ BTN_TEXTS.SUBMIT_CODE }}
          </blu-button>
          <blu-validation-feedback
            *ngIf="incorrectCodeError$ | async"
            [type]="FeedbackType.ERROR"
          >
            {{ TEXTS.INCORRECT_CODE }}
          </blu-validation-feedback>
          <blu-button type="secondary" [fullWidth]="true" (click)="onBack()">
            {{ BTN_TEXTS.BACK }}
          </blu-button>
          </div>
        </blu-modal>
      </ng-template>
    </div>
  </div>
</div>