<div class="row justify-content-center">
<div class="col-md-8">
<div class="login-wrapper">
  <blu-modal
    [title]="TEXTS.TITLE"
    [subtitle]="TEXTS.SUBTITLE"
  >
  <div class="login-modal-content">
    <blu-input
      label="Phone number"
      [required]="true"
      [fullWidth]="true"
      [feedbackType]="FeedbackType.ERROR"
      type="PHONE"
      (keydown.enter)='onSignIn()'
      (click)="clearErrors()"
      #phoneInput
    ></blu-input>
    <blu-button type="primary" [fullWidth]="true" (click)="onSignIn()" (keydown.enter)='onSignIn()'>
      <div class="login-spinner-wrapper">
        <blu-spinner *ngIf="isSignInSubmitting$ | async"></blu-spinner>
      </div>
      {{ BTN_TEXTS.LOGIN }}
    </blu-button>
    <blu-validation-feedback
    *ngIf="invalidLogin$ | async"
    [type]="FeedbackType.ERROR"
  >
    {{ TEXTS.INVALID_CREDENTIALS }}
  </blu-validation-feedback>
  <blu-validation-feedback
    *ngIf="unknownLoginError$ | async"
    [type]="FeedbackType.ERROR"
  >
    {{ TEXTS.UNKNWON_LOGIN_ERROR }}
  </blu-validation-feedback>
    </div>
  </blu-modal>
</div>
</div>
</div>