<div class="row g-3">
    <div class="col-md-12">
        <blu-input 
            [fullWidth]="true"
            [feedbackType]="FeedbackType.ERROR" 
            [label]="TEXTS.LABEL_NAME"
            [required]="true"
            [disabled]="(isLoading$ | async) ?? false"
            type="TEXT"
            #assetName
        ></blu-input>
    </div>
    <div class="col-md-6">
        <blu-input 
            [fullWidth]="true"
            [feedbackType]="FeedbackType.ERROR" 
            [label]="TEXTS.LABEL_APPRECIATION"
            [required]="true"
            placeholder="ex: 0.05"
            [disabled]="(isLoading$ | async) ?? false"
            [tooltip]="TEXTS.TOOLTIP_APPRECIATION"
            type="NUMBER"
            #appreciationRate
        ></blu-input>
    </div>
    <div class="col-md-6" *ngIf="isAdd">
        <blu-input 
            [fullWidth]="true"
            [feedbackType]="FeedbackType.ERROR" 
            [label]="TEXTS.LABEL_CUR_VALUE"
            [required]="true"
            [disabled]="(isLoading$ | async) ?? false"
            type="CURRENCY"
            #curValue
        ></blu-input>
    </div>
</div>