.asset-type-page-wrapper {
    width: 100vw;
    min-height: var(--blu-height-full);
    height: 100vh;
    overflow-x: hidden;
}

.asset-type-page-side-wrapper {
    background-color: var(--blu-background-secondary);
    padding: var(--blu-padding-4xl);
    width: var(--blu-width-full);
    height: var(--blu-height-full);
    position: relative;
    display: flex;
    flex-direction: column;
    border-right: var(--blu-border-tertiary);
}

.asset-type-page-content-wrapper {
    padding: var(--blu-padding-4xl);
    height: var(--blu-height-full);
    overflow-y: auto;
    overflow-x: hidden;
}

.asset-type-page-actions-wrapper {
    padding: 0 var(--blu-padding-m) var(--blu-padding-4xl);
    display: flex;
    justify-content: space-between;
    gap: var(--blu-space-m);
}

.asset-type-page-asset-summary {
    padding: var(--blu-padding-m);
}

.asset-type-page-networth-change-wrapper {
    margin-top: var(--blu-margin-xxl);
}

.asset-type-page-asset-table-wrapper {
    padding: var(--blu-padding-m);
}

.asset-type-page-networth-chart-wrapper {
    width: var(--blu-width-full);
    margin-top: var(--blu-margin-4xl);
    height: 50vh;
}

@media screen and (max-width: 991px) {
    .asset-type-page-wrapper {
        height: fit-content;
    }
    .asset-type-page-networth-chart-wrapper {
        height: 40vh;
    }
    .asset-type-page-content-wrapper {
        padding: var(--blu-padding-4xl) var(--blu-padding-xl);
    }
}
