<div class="row g-3" [hidden]="((assets$ | async) ?? []).length < 2">
    <blu-modal class="col-6">
        <div class="account-summary-header" (click)="onToggleTopHoldings()">
            <blu-heading size="s">
                    Asset diversification
            </blu-heading>
            <blu-button [iconOnly]="true" iconName="collapse" type="none" *ngIf="showTopHoldings"></blu-button>
            <blu-button [iconOnly]="true" iconName="show" type="none" *ngIf="!showTopHoldings"></blu-button>
        </div>
        <div class="position-relative" [hidden]="!showTopHoldings">
            <div class="account-summary-chart mt-3">
                <canvas id="assetSummaryChart">{{ assetSummaryChart }}</canvas>
            </div>
            <div class="account-summary-chart-text">
                <blu-heading type="primary" size="m" [bold]="true" [center]="true" subheading="Assets">
                    {{ ((assets$ | async) ?? []).length }}
                </blu-heading>
            </div>
        </div>
    </blu-modal>
    <blu-modal class="col-6">
        <div class="account-summary-header" (click)="onToggleBiggestMovers()">
            <blu-heading size="s">
                    Biggest movers
            </blu-heading>
            <blu-button [iconOnly]="true" iconName="collapse" type="none" *ngIf="showBiggestMovers"></blu-button>
            <blu-button [iconOnly]="true" iconName="show" type="none" *ngIf="!showBiggestMovers"></blu-button>
        </div>
        <div [hidden]="!showBiggestMovers">
            <blu-text type="primary">Not added yet!</blu-text>
        </div>
</blu-modal>
</div>

