.account-summary-header {
    display: flex;
    align-items: center;
    gap: var(--blu-space-xs);
    justify-content: space-between;
    cursor: pointer;
}

.account-summary-bar-text {
    position: absolute;
    display: flex;
    gap: var(--blu-space-xs);
    top: 2px;
    left: 25px;
}

.account-summary-line {
    position: relative;
    --mdc-linear-progress-active-indicator-height: var(--blu-height-xs);
  --mdc-linear-progress-track-height: var(--blu-height-xs);
  --mdc-linear-progress-track-shape: var(--blu-radius-xs);
}

.account-summary-chart {
    height: fit-content;
    width: 100%;
}

.account-summary-chart-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
    z-index: 0;
}

canvas {
    z-index: 100;
}