<blu-modal>
    <div class="account-summary-header" (click)="onToggleTopHoldings()">
        <blu-heading size="s">
                Summaries
        </blu-heading>
        <blu-button [iconOnly]="true" iconName="collapse" type="none" *ngIf="showTopHoldings"></blu-button>
        <blu-button [iconOnly]="true" iconName="show" type="none" *ngIf="!showTopHoldings"></blu-button>
    </div>
    <div class="position-relative" [hidden]="!showTopHoldings">
        <div class="account-summary-chart mt-3">
            <canvas id="assetSummaryChart">{{ assetSummaryChart }}</canvas>
        </div>
    </div>
</blu-modal>