<div class="row asset-more-details-wrapper">
    <app-add-vehicle-form
        [asset$]="asset$"
        [isLoading$]="isLoading$"
        (savedAsset$)="onSaved()"
        #addVehicleForm
    ></app-add-vehicle-form>
    <div class="col-12">
        <blu-button
            [fullWidth]="true" 
            type="primary" 
            (click)="onSaveInit()"
        >
            <span *ngIf="isLoading$ | async" class="asset-more-details-spinner-wrapper">
                <blu-spinner></blu-spinner>
            </span>
            Update details
        </blu-button>
    </div>
</div>