.asset-details-page-wrapper {
    margin: var(--blu-margin-4xl) auto;
    background-color: var(--blu-background-secondary);
    max-width: var(--blu-width-5xl);
}

.asset-details-value-history-chart-wrapper {
    height: 40vh;
    margin-top: var(--blu-margin-xxl);
}

.asset-details-value-history-wrapper {
    overflow-x: auto;
    margin-top: var(--blu-margin-xxl);
}

.asset-details-page-button-back {
    margin-bottom: var(--blu-margin-xl);
}

.asset-details-spinner {
    color: var(--blu-color-primary);
    margin-bottom: var(--blu-margin-4xl);
}

.asset-details-history-loading {
    display: flex;
    align-items: center;
    padding: var(--blu-padding-4xl);
}

::ng-deep .mat-mdc-tab {
    flex-grow: 0 !important;
}

::ng-deep .mdc-tab {
    padding: 0 var(--blu-padding-xxl)!important;
    font: var(--blu-font-primary)!important;
}