.asset-details-page-wrapper {
    max-width: var(--blu-width-6xl);
}

.asset-details-page-button-wrapper {
    display: flex;
    width: var(--blu-width-full);
    justify-content: space-between;
}

.asset-details-value-history-chart-wrapper {
    height: 40vh;
    margin-top: var(--blu-margin-xxl);
}

.asset-details-value-history-wrapper {
    overflow-x: auto;
}

.asset-details-spinner {
    color: var(--blu-color-primary);
    margin-bottom: var(--blu-margin-4xl);
}

.asset-details-loading-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.asset-details-loading-content {
    width: 50%;
}

.asset-details-page-tooltip {
    margin-top: var(--blu-margin-xl);
}