.asset-details-page-wrapper {
    margin: var(--blu-margin-4xl) auto;
}

.asset-details-value-history-wrapper {
    overflow-x: auto;
    margin-top: var(--blu-margin-xxl);
}

.asset-details-page-button-back {
    margin-bottom: var(--blu-margin-xl);
}

.asset-details-spinner {
    color: var(--blu-color-primary);
    margin-bottom: var(--blu-margin-4xl);
}

.asset-details-history-loading {
    margin-top: var(--blu-margin-4xl);
}

.asset-details-value-history-chart-wrapper {
    height: 40vh;
    margin-top: var(--blu-margin-xl);
}