<div class="row justify-content-center">
    <div class="col-11 col-sm-10 col-xl-8">
        <div class="asset-details-page-wrapper justify-content-center">
            <blu-modal
                padding="xl"
            >
                <div class="asset-details-page-button-wrapper">
                    <blu-button type="primary" iconName="backArrow" (click)="onBack()">Back</blu-button>
                    <blu-button 
                        *ngIf="(asset$ | async)?.assetType === AssetType.Vehicle || (asset$ | async)?.assetType === AssetType.Stock"
                        type="secondary" 
                        [iconOnly]="true" 
                        iconName="spinner" 
                        (click)="onRefresh()" 
                        tooltip="Refresh data"
                    ></blu-button>
                </div>
                <div class="asset-details-page-top-row">
                    <blu-heading
                        size="medium"
                        [bold]="true"
                        [subheading]="displayAssetName"
                        subheadingPosition="top"
                        *ngIf="!(isDetailsLoading$ | async)"
                        [isNumber]="true"
                    >
                        {{ displayAssetValue }}
                    </blu-heading>
                </div>
                <div *ngIf="(isDetailsLoading$ | async)" class="asset-details-loading">
                    <blu-spinner size="50"></blu-spinner>
                </div>
                <mat-tab-group 
                    [ngClass]="{
                        'asset-details-page-hidden': isDetailsLoading$ | async
                    }" 
                    [dynamicHeight]="true"
                >
                    <mat-tab label="Value history">
                        <div class="asset-details-chart-container">
                            <canvas id="detailChart">{{ historyChart }}</canvas>
                        </div>
                        <div *ngIf="(asset$ | async)?.assetType === AssetType.Custom" class="asset-details-value-history-wrapper">
                            <app-value-history
                                [assetValues]="(assetValues$ | async) ?? []"
                                [assetId]="(assetId$ | async) ?? ''"
                                [isLoading$]="isDetailsLoading$"
                                #valueHistory
                            ></app-value-history>
                        </div>
                        <blu-label
                            class="asset-details-page-tooltip"
                            type="tertiary" 
                            [tooltip]="(asset$ | async)?.assetType === AssetType.Custom ? 'To update the asset value, please update the value table above.' : 'Come back daily to see the updated value.'" 
                            [label]="(asset$ | async)?.assetType === AssetType.Custom ? 'This asset is tracked manually' : 'This asset is tracked automatically'"
                        ></blu-label>
                    </mat-tab>
                    <mat-tab label="Asset details">
                        <app-asset-more-details
                            [ngClass]="{
                                'asset-details-page-hidden': isDetailsLoading$ | async
                            }"
                            [asset$]="asset$"
                        ></app-asset-more-details>
                    </mat-tab>
                </mat-tab-group>
            </blu-modal>
        </div>
    </div>
</div>