<div class="row justify-content-center my-5">
    <div class="col-11 col-sm-10 col-xl-8 asset-details-page-wrapper">
        <blu-modal>
            <div class="asset-details-page-button-wrapper mb-4">
                <blu-button 
                    type="primary" 
                    iconName="backArrow" 
                    (click)="onBack()"
                >
                        {{ TEXTS.BTN_BACK }}
                </blu-button>
                <blu-button 
                    *ngIf="(asset$ | async)?.assetType !== AssetType.Cash"
                    type="secondary" 
                    [iconOnly]="true" 
                    iconName="spinner" 
                    (click)="onRefresh()" 
                    [tooltip]="TEXTS.TOOLTIP_REFRESH"
                ></blu-button>
            </div>
            <blu-heading
                class="mb-4"
                size="m"
                [bold]="true"
                [subheading]="displayAssetName"
                subheadingPosition="top"
                [isNumber]="true"
            >
                {{ displayAssetValue }}
            </blu-heading>
            <div 
                *ngIf="(isValuesLoading$ | async) || (isAssetLoading$ | async)" 
                class="asset-details-loading-wrapper"
            >
                <app-loading-state></app-loading-state>
            </div>
            <mat-tab-group 
                [dynamicHeight]="true"
                [hidden]="(isValuesLoading$ | async) || (isAssetLoading$ | async)"
                (selectedTabChange)="onTabClick($event)"
            >
                <mat-tab [label]="TEXTS.TAB_HISTORICAL">
                    <app-value-history
                        [assetValues]="(assetValues$ | async) ?? []"
                        [assetId]="assetId"
                        [isLoading$]="isValuesLoading$"
                        [asset$]="asset$"
                        #valueHistory
                    ></app-value-history>
                </mat-tab>
                <mat-tab [label]="TEXTS.TAB_PROJECTION"
                    *ngIf="(asset$ | async)?.assetType === AssetType.Vehicle"
                >
                    <app-future-projection
                        [assetName]="(asset$ | async)?.assetName ?? ''"
                        [assetValues]="(assetValues$ | async) ?? []"
                        #futureProjection
                    ></app-future-projection>
                </mat-tab>
                <mat-tab [label]="TEXTS.TAB_MORE_DETAILS">
                    <app-asset-more-details
                        [asset$]="asset$"
                    ></app-asset-more-details>
                </mat-tab>
            </mat-tab-group>
        </blu-modal>
    </div>
</div>