<div class="row justify-content-center">
    <div class="col-11 col-sm-10 col-xl-8">
        <div class="asset-details-page-wrapper justify-content-center">
            <blu-modal>
                <div class="asset-details-page-button-back">
                    <blu-button type="primary" iconName="backArrow" (click)="onBack()">Dashboard</blu-button>
                </div>
                <blu-heading
                    size="medium"
                    [bold]="true"
                    [subheading]="displayAssetName"
                    subheadingPosition="top"
                    class="asset-details-page-heading"
                    *ngIf="!(isDetailsLoading$ | async)"
                >
                    {{ displayAssetValue }}
                </blu-heading>
                <div *ngIf="(isDetailsLoading$ | async)" class="asset-details-history-loading">
                    <blu-spinner size="50"></blu-spinner>
                </div>
                <mat-tab-group [ngClass]="{
                    'asset-details-page-hidden': isDetailsLoading$ | async
                }">
                    <mat-tab label="Value history">
                        <div *ngIf="((assetValues$ | async) ?? []).length >= 2" class="asset-details-value-history-chart-wrapper">
                            <app-chart
                                [values$]="assetValues$"
                            ></app-chart>
                        </div>
                        <div class="asset-details-value-history-wrapper">
                            <app-value-history
                                [assetValues]="(assetValues$ | async) ?? []"
                                [assetId]="(assetId$ | async) ?? ''"
                                [isLoading$]="isDetailsLoading$"
                            ></app-value-history>
                        </div>
                    </mat-tab>
                    <mat-tab label="Asset details">
                        <app-asset-more-details
                            [ngClass]="{
                                'asset-details-page-hidden': isDetailsLoading$ | async
                            }"
                            [asset$]="asset$"
                        ></app-asset-more-details>
                    </mat-tab>
                </mat-tab-group>
            </blu-modal>
        </div>
    </div>
</div>