.settings-page-wrapper {
    margin: var(--blu-margin-4xl) auto;
    background-color: var(--blu-background-secondary);
    max-width: var(--blu-width-6xl);
}

.settings-page-body {
    margin-top: var(--blu-margin-xl);
}

.settings-page-tab {
    margin-top: var(--blu-margin-xxl);
}

.settings-page-heading {
    margin-top: var(--blu-margin-xxl);
}

.settings-page-option {
    margin-bottom: var(--blu-margin-l);
}