<div class="row justify-content-center">
    <div class="col-11 col-sm-10 col-xl-8">
        <div class="settings-page-wrapper justify-content-center">
            <blu-modal>
                <blu-button type="primary" iconName="backArrow" (click)="onBack()">Back</blu-button>
                <blu-heading class="settings-page-heading">
                    Settings
                </blu-heading>
                <div class="row settings-page-body">
                    <mat-tab-group [dynamicHeight]="true">
                        <mat-tab label="Profile">
                            <div class="settings-page-tab">
                                <blu-button type="danger" (click)="onDeleteArchivedAssets()">Delete archived assets</blu-button>
                            </div>
                        </mat-tab>
                        <mat-tab label="Billing">
                            <div class="settings-page-tab">
                                <blu-text type="primary">
                                    To be added soon!
                                </blu-text>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </blu-modal>
        </div>
    </div>
</div>