@use "@angular/material" as mat;
@include mat.core();
$iron-primary: mat.define-palette(mat.$green-palette);
$iron-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);
$iron-warn: mat.define-palette(mat.$red-palette);

$iron-theme: mat.define-dark-theme(
  (
    color: (
      primary: $iron-primary,
      accent: $iron-accent,
      warn: $iron-warn,
    ),
  )
);

@include mat.all-component-themes($iron-theme);

* {
  margin: 0px;
  padding: 0px;
}

::selection {
  background: var(--blu-background-tertiary);
  color: var(--blu-color-secondary);
}

html,
body {
  background-color: var(--blu-background-primary);
  font: var(--blu-font-primary);
}

:root {
  // SPACE
  --blu-space-xxs: 4px;
  --blu-space-xs: 6px;
  --blu-space-s: 12px;
  --blu-space-m: 18px;
  --blu-space-l: 30px;
  --blu-space-xl: 60px;
  --blu-space-xxl: 120px;
  --blu-space-3xl: 240px;

  // PADDING
  --blu-padding-xxs: 2px;
  --blu-padding-xs: 4px;
  --blu-padding-s: 8px;
  --blu-padding-m: 10px;
  --blu-padding-l: 12px;
  --blu-padding-xl: 18px;
  --blu-padding-xxl: 24px;
  --blu-padding-3xl: 32px;
  --blu-padding-4xl: 48px;

  // MARGIN
  --blu-margin-xxs: 2px;
  --blu-margin-xs: 4px;
  --blu-margin-s: 8px;
  --blu-margin-m: 10px;
  --blu-margin-l: 12px;
  --blu-margin-xl: 18px;
  --blu-margin-xxl: 24px;
  --blu-margin-3xl: 32px;
  --blu-margin-4xl: 48px;

  // RADIUS
  --blu-radius-none: 0px;
  --blu-radius-xs: 2px;
  --blu-radius-s: 4px;
  --blu-radius-m: 6px;
  --blu-radius-l: 10px;
  --blu-radius-xl: 14px;
  --blu-radius-xxl: 24px;
  --blu-radius-round: 100%;

  // WIDTH
  --blu-width-none: 0px;
  --blu-width-full: 100%;
  --blu-width-xs: 24px;
  --blu-width-s: 32px;
  --blu-width-m: 42px;
  --blu-width-l: 84px;
  --blu-width-xl: 128px;
  --blu-width-xxl: 170px;
  --blu-width-3xl: 384px;
  --blu-width-4xl: 512px;
  --blu-width-5xl: 640px;
  --blu-width-6xl: 1024px;

  // HEIGHT
  --blu-height-none: 0px;
  --blu-height-full: 100%;
  --blu-height-xs: 24px;
  --blu-height-s: 32px;
  --blu-height-m: 42px;
  --blu-height-l: 84px;
  --blu-height-xl: 128px;
  --blu-height-xxl: 170px;
  --blu-height-3xl: 384px;
  --blu-height-4xl: 512px;
  --blu-height-5xl: 640px;
  --blu-height-6xl: 1024px;

  // COLOR
  --blu-color-primary: #e1e1e1;
  --blu-color-secondary: #868686;
  --blu-color-tertiary: #707070;

  --blu-color-brand: #0b8457;
  --blu-color-brand-highlight: #14cc89;

  --blu-color-primary-hover: #222222;
  --blu-color-secondary-hover: #d4d3d3;
  --blu-color-tertiary-hover: #fafafa;

  --blu-color-success: #51946e;
  --blu-color-success-background: #183118;
  --blu-color-info: #4676d6;
  --blu-color-info-inactive: #344b66;
  --blu-color-info-background: #1c2837;
  --blu-color-error: #c43528;
  --blu-color-error-background: #301818;

  --blu-color-text-primary: var(--blu-color-primary);
  --blu-color-text-secondary: var(--blu-color-secondary);
  --blu-color-text-tertiary: var(--blu-color-tertiary);

  --blu-background-primary: #131313;
  --blu-background-secondary: #181818;
  --blu-background-tertiary: #363636;

  // BORDERS
  --blu-border-primary: 1px solid var(--blu-color-brand);
  --blu-border-secondary: 1px solid var(--blu-background-secondary);
  --blu-border-tertiary: 1px solid var(--blu-background-tertiary);

  --blu-border-primary-hover: 1px solid var(--blu-color-primary-hover);
  --blu-border-secondary-hover: 1px solid var(--blu-color-secondary-hover);
  --blu-border-tertiary-hover: 1px solid var(--blu-color-tertiary-hover);

  --blu-border-success: 1px solid var(--blu-color-success);
  --blu-border-error: 1px solid var(--blu-color-error);
  --blu-border-info: 1px solid var(--blu-color-info);
  --blu-border-info-inactive: 1px solid var(--blu-color-info-inactive);

  // FONT WEIGHT
  --blu-font-weight-bold: 700;
  --blu-font-weight-normal: 300;

  // FONT SIZE
  --blu-font-size-xs: 0.7em;
  --blu-font-size-s: 0.85em;
  --blu-font-size-m: 1em;
  --blu-font-size-l: 1.2em;
  --blu-font-size-xl: 1.5em;

  --blu-font-size-heading-xs: max(min(1.2vw, 1.5em), 1em);
  --blu-font-size-heading-s: max(min(1.5vw, 2em), 1.1em);
  --blu-font-size-heading-m: max(min(2.5vw, 3em), 1.5em);
  --blu-font-size-heading-l: max(min(3vw, 4em), 1.7em);
  --blu-font-size-heading-xl: 2.5em;

  // LINE HEIGHT
  --blu-line-height-xs: 0.8em;
  --blu-line-height-s: 1em;
  --blu-line-height-m: 1.2em;
  --blu-line-height-l: 1.5em;
  --blu-line-height-xl: 1.8em;

  --blu-line-height-heading-xs: max(min(1.2vw, 1em), 0.9em);
  --blu-line-height-heading-s: max(min(1.5vw, 1.5em), 1.3em);
  --blu-line-height-heading-m: max(min(2.5vw, 3em), 1.5em);
  --blu-line-height-heading-l: max(min(3vw, 4em), 1.7em);
  --blu-line-height-heading-xl: 2.5em;

  .mat-mdc-header-row {
    text-transform: uppercase;
    font: var(--blu-font-primary);
    font-size: var(--blu-font-size-xs);
  }

  .mat-mdc-row {
    color: var(--blu-color-primary);
  }

  .mat-mdc-header-cell {
    font: var(--blu-font-primary);
    color: var(--blu-color-secondary);
    font-size: var(--blu-font-size-m);
    text-transform: uppercase;
  }

  .mat-mdc-snack-bar-container .mdc-snackbar__surface {
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: var(--blu-margin-l);
    max-width: 75vw;
    box-shadow:
      rgba(17, 17, 26, 0.1) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 8px 24px,
      rgba(17, 17, 26, 0.1) 0px 16px 48px;
  }

  .cdk-overlay-pane {
    max-width: 90%;
  }

  .mat-mdc-snack-bar-label,
  .mdc-snackbar__surface {
    padding: 0;
  }

  // FONT
  --blu-font-primary: normal var(--blu-font-weight-normal)
      var(--blu-font-size-m) "Outfit",
    sans-serif;
  --blu-font-heading: normal var(--blu-font-weight-normal)
      var(--blu-font-size-heading-m) "Outfit",
    sans-serif;

  --mat-table-background-color: var(--blu-background-secondary);
  --mat-menu-item-hover-state-layer-color: var(--blu-background-tertiary);
  --mat-tab-header-inactive-label-text-color: var(--blu-color-secondary);

  .mat-mdc-tab-group {
    --mdc-tab-indicator-active-indicator-color: var(--blu-color-primary);
    --mat-tab-header-active-focus-indicator-color: var(
      --blu-color-text-primary
    );
    --mat-tab-header-active-label-text-color: var(--blu-color-text-primary);
    --mat-tab-header-active-ripple-color: none;
    --mat-tab-header-active-hover-indicator-color: var(--blu-color-primary);
    --mat-tab-header-active-focus-label-text-color: var(--blu-color-primary);
    --mat-tab-header-inactive-ripple-color: none;
    --mat-tab-header-active-hover-label-text-color: var(--blu-color-primary);
  }

  .mat-mdc-menu-content {
    font: var(--blu-font-primary);
    padding: 0px !important;
    background-color: var(--blu-background-secondary);
  }

  .mat-mdc-tab {
    flex-grow: 0 !important;
  }

  .mat-mdc-tab-body-wrapper {
    margin-top: var(--blu-margin-xl);
  }

  .mdc-tab {
    padding: 0 var(--blu-padding-xxl) !important;
    font: var(--blu-font-primary) !important;
  }

  .mdc-linear-progress {
    border-radius: var(--blu-radius-m);
  }

  .mat-mdc-progress-bar {
    --mdc-linear-progress-active-indicator-color: var(--blu-color-brand);
  }

  --mdc-linear-progress-active-indicator-height: 7px;
  --mdc-linear-progress-track-height: 7px;
  --mdc-linear-progress-track-shape: var(--blu-radius-xs);

  .mat-mdc-tooltip .mdc-tooltip__surface {
    background-color: var(--blu-background-tertiary);
    font: var(--blu-font-primary);
    color: var(--blu-color-primary);
    font-size: var(--blu-font-size-s);
    box-shadow:
      rgba(17, 17, 26, 0.1) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 8px 24px,
      rgba(17, 17, 26, 0.1) 0px 16px 48px;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    appearance: textfield;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: var(--blu-color-primary);
    border-radius: var(--blu-radius-s);
    padding: var(--blu-padding-xxs);
  }

  /* width */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-track-piece,
  ::-webkit-scrollbar-corner {
    background: var(--blu-background-primary);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--blu-color-brand);
    border-radius: var(--blu-radius-m);
  }

  .mat-mdc-tab {
    display: flex;
    align-items: center;
    min-height: none;
    background: var(--blu-background-secondary) !important;
    border: var(--blu-border-tertiary) !important;
    border-radius: 250px;
    height: fit-content !important;
    padding: var(--blu-padding-m) var(--blu-padding-xl) !important;
    margin-right: var(--blu-space-xs);
  }

  .mat-mdc-tab.mdc-tab--active {
    border-color: var(--blu-color-brand) !important;
  }

  .mat-mdc-tab .mdc-tab-indicator__content--underline {
    border: none !important;
  }

  .mat-mdc-tab-body-wrapper {
    margin-top: var(--blu-margin-xl);
  }
}
