<app-confirmation-popup
  [title]="TEXTS.LOGOUT_TITLE"
  [subtitle]="TEXTS.LOGOUT_SUBTITLE"
  [confirmText]="TEXTS.LOGOUT_CTA"
  size="m"
  (confirmed)="onConfirmLogOut()"
  #logOutConfirmPopup
></app-confirmation-popup>
<app-add-asset-popup
    #addAssetPopup
></app-add-asset-popup>
<app-loading-state
    *ngIf="(isNetworthLoading$ | async) && (isAssetsLoading$ | async)"
    class="dashboard-loader-wrapper"
></app-loading-state>

<div 
    class="row dashboard-wrapper m-0" 
    [hidden]="(isNetworthLoading$ | async) && (isAssetsLoading$ | async)"
>
    <div class="col-lg-5 col-sm-12 p-0">
        <div class="dashboard-side-wrapper">
            <app-loading-state
                *ngIf="(isNetworthLoading$ | async)"
                class="dashboard-loader-wrapper"
            ></app-loading-state>
            <div 
                [hidden]="(isNetworthLoading$ | async)"
            >
                <app-networth
                    [totalNetworth]="totalNetworth"
                ></app-networth>
                <app-value-change
                    [timeframes]="networthTimeframes"
                ></app-value-change>
            </div>
            <div 
                class="dashboard-networth-chart-wrapper mt-4"
                [hidden]="(isNetworthLoading$ | async)"
            >
                <canvas id="dashboardChart">{{ dashboardChart }}</canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-sm-12 px-3 px-md-5 py-4 dashboard-content-wrapper">
        <div class="row">
            <div class="col-12 dashboard-actions-wrapper pb-4">
                <blu-button 
                    type="primary" 
                    iconName="plus" 
                    (click)="onAddAsset()" 
                    [tooltip]="TEXTS.TOOLTIP_CTA"
                >
                    {{ TEXTS.BTN_PRIMARY_CTA }}
                </blu-button>
                <blu-button 
                    type="secondary" 
                    [iconOnly]="true" 
                    iconName="gear" 
                    (click)="onSettings()" 
                    [tooltip]="TEXTS.TOOLTIP_SETTINGS"
                ></blu-button>
                <blu-button 
                    type="secondary" 
                    [iconOnly]="true" 
                    iconName="signOut" 
                    (click)="onLogOut()" 
                    [tooltip]="TEXTS.TOOLTIP_LOG_OUT"
                ></blu-button>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-12">
                <app-loading-state
                    *ngIf="(isAssetsLoading$ | async)"
                    class="dashboard-loader-wrapper"
                ></app-loading-state>
            </div>
            <div class="col-12" *ngIf="((assets$ | async) ?? []).length > 0">
                <app-ai-feedback
                    [assets]="(assets$ | async) ?? []"
                ></app-ai-feedback>
            </div>
            <div class="col-12">
                <app-asset-table
                    [hidden]="(isAssetsLoading$ | async)"
                    [columns]="assetTableColumns"
                    [assets$]="assets$"
                    [loadingIndicator$]="isAssetsLoading$"
                    #assetTable
                ></app-asset-table>
            </div>
        </div>
    </div>
</div>