<div class="dashboard-wrapper row m-0">
    <div class="dashboard-side-wrapper col-lg-5 col-12 pb-2">
        <div class="p-4 p-md-5">
            <app-networth
                [totalNetworth]="totalNetworth"
                [isLoading]="isNetworthLoading$ | async"
            ></app-networth>
            <app-value-change
                [timeframes]="networthTimeframes"
                [isLoading]="isNetworthLoading$ | async"
            ></app-value-change>
        </div>
        <div class="dashboard-networth-chart" [hidden]="(isNetworthLoading$ | async)">
            <empty-state 
                *ngIf="((assets$ | async) ?? []).length < 1 && !(isAssetsLoading$ | async)" 
                [variation]="1"
                (addBtnClicked)="onAddAsset()"
            ></empty-state>
            <canvas 
                [hidden]="((assets$ | async) ?? []).length < 1" 
                id="dashboardChart"
            >{{ dashboardChart }}</canvas>
        </div>
    </div>
    <div class="dashboard-content-wrapper col-lg-7 col-12 px-2 px-md-5 py-4">
        <dashboard-top-bar #topBar></dashboard-top-bar>
        <app-error-state *ngIf="loadingFailed; else mainContent"></app-error-state>
        <ng-template #mainContent>
                <app-loading-state *ngIf="(isAssetsLoading$ | async); else loadedContent" class="dashboard-loader-wrapper"></app-loading-state>
                <ng-template #loadedContent>
                    <mat-tab-group (selectedTabChange)="onTabChange($event)" *ngIf="((assets$ | async) ?? []).length > 0">
                        <mat-tab label="Assets">
                            <div class="row g-0 gy-2 pt-2">
                                <ng-container *ngFor="let accountAssets of (assetsByAccount$ | async)">
                                    <app-asset-table
                                        [tableTitle]="accountAssets.key"
                                        [columns]="assetTableColumns"
                                        [assets$]="assets$"
                                        [displayAssets]="accountAssets.values"
                                        [loadingIndicator$]="isAssetsLoading$"
                                        #assetTable
                                    ></app-asset-table>
                                </ng-container>
                            </div>
                        </mat-tab>
                        <mat-tab label="Analytics" *ngIf="((assets$ | async) ?? []).length >= 3">
                            <div class="row g-0 gy-2 mt-0">
                                <app-ai-feedback
                                    *ngIf="((assets$ | async) ?? []).length >= 10"
                                    [assets$]="assets$"
                                ></app-ai-feedback>
                                <app-account-summary
                                    *ngIf="((assets$ | async) ?? []).length >= 3"
                                    [assets$]="assets$"
                                    [renderChart$]="analyticsTabClicked$"
                                ></app-account-summary>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </ng-template>
        </ng-template>
    </div>
</div>