.dashboard-wrapper {
    min-height: var(--blu-height-full);
    overflow-x: hidden;

    .mat-mdc-tab-header {
        border-bottom: none;
    }
    
    .mat-mdc-tab:first-of-type {
        background: var(--blu-background-secondary) !important;
        border: var(--blu-border-tertiary) !important;
        border-top-left-radius: var(--blu-radius-m);
        border-bottom-left-radius: var(--blu-radius-m);
        width: 50%;
    }

    .mat-mdc-tab:first-of-type.mdc-tab--active {
        border-color: var(--blu-color-text-primary) !important;
        transition: 0.2s;
    }

    .mat-mdc-tab:last-of-type.mdc-tab--active {
        border-left: var(--blu-border-tertiary) !important;
        border-color: var(--blu-color-text-primary) !important;
        transition: 0.2s;
    }
    
    .mat-mdc-tab:last-of-type {
        background: var(--blu-background-secondary) !important;
        border: var(--blu-border-tertiary) !important;
        border-left: none !important;
        border-top-right-radius: var(--blu-radius-m);
        border-bottom-right-radius: var(--blu-radius-m);
        width: 50%;
    }
    
    .mat-mdc-tab .mdc-tab-indicator__content--underline {
        border-color: rgba(0,0,0,0) !important;
    }

    .mat-mdc-tab-body-wrapper {
        margin-top: 0px;
      }
}

.dashboard-side-wrapper {
    background-color: var(--blu-background-secondary);
    height: 100vh;
    border-right: var(--blu-border-tertiary);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.dashboard-networth-chart {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-loader-full-page {
    height: 100vh;
    width: 100vw;
}

.dashboard-content-wrapper {
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.dashboard-networth-chart-wrapper {
    width: var(--blu-width-full);
    min-height: 40vh;
    height: var(--blu-height-full);
}

.dashboard-loader-wrapper {
    width: var(--blu-height-full);
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 991px) {
    .dashboard-wrapper {
        height: fit-content;
        overflow-y: hidden;
    }
    .dashboard-side-wrapper {
        border: none;
        height: 75vh;
        overflow-y: hidden;
    }
    .dashboard-content-wrapper {
        height: fit-content;
        overflow-y: hidden;
    }
}