.dashboard-wrapper {
    min-height: var(--blu-height-full);
    overflow-x: hidden;
    
    .mat-mdc-tab {
        display: flex;
        align-items: center;
        min-height: none;
        background: var(--blu-background-secondary) !important;
        border: var(--blu-border-tertiary) !important;
        border-radius: 250px;
        height: fit-content !important;
        padding: var(--blu-padding-m) var(--blu-padding-xl) !important;
        margin-right: var(--blu-space-xs);
    }

    .mat-mdc-tab.mdc-tab--active {
        border-color: var(--blu-color-brand) !important;
    }
    
    .mat-mdc-tab .mdc-tab-indicator__content--underline {
        border: none;
    }

    .mat-mdc-tab-body-wrapper {
        margin-top: var(--blu-margin-xxs);
    }
}

.dashboard-side-wrapper {
    background-color: var(--blu-background-secondary);
    height: 100vh;
    border-right: var(--blu-border-tertiary);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.dashboard-networth-chart {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-loader-full-page {
    height: 100vh;
    width: 100vw;
}

.dashboard-content-wrapper {
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.dashboard-networth-chart-wrapper {
    width: var(--blu-width-full);
    min-height: 40vh;
    height: var(--blu-height-full);
}

.dashboard-loader-wrapper {
    width: var(--blu-height-full);
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 991px) {
    .dashboard-wrapper {
        height: fit-content;
        overflow-y: hidden;
    }
    .dashboard-side-wrapper {
        border: none;
        height: 75vh;
        overflow-y: hidden;
    }
    .dashboard-content-wrapper {
        height: fit-content;
        overflow-y: hidden;
    }
}