<!-- <blu-modal>
    <div class="pb-3">
        <blu-heading size="small">
            Biggest movers
        </blu-heading>
    </div>
    @for (asset of assets; track asset) {
        <div class="movers-option mb-2">
            <blu-text type="primary">{{asset.assetName}}</blu-text>
            <div class="movers-option-change">
                <blu-text type="primary" size="small" [isNumber]="true">${{asset.curTotalValue}}</blu-text>
                <blu-tag type="success">
                    <blu-text type="success" size="small" [isNumber]="true">10%</blu-text>
                </blu-tag>
            </div>
        </div>
    }
</blu-modal> -->