.add-vehicle-input {
    margin-bottom: var(--blu-margin-l);
}

.add-vehicle-input-second {
    margin-left: var(--blu-margin-l);
}

.add-vehicle-switch {
    margin-top: var(--blu-margin-s);
}

@media only screen and (max-width: 767px) {
    .add-vehicle-input-second {
        margin-left: var(--blu-margin-none);
    }
}