.add-stock-input {
    margin-bottom: var(--blu-margin-l);
}

.add-stock-input-second {
    margin-left: var(--blu-margin-l);
}

@media only screen and (max-width: 767px) {
    .add-stock-input-second {
        margin-left: var(--blu-margin-none);
    }
}