<div class="row">
    <div class="col">
        <div class="add-stock-input">
            <blu-input 
                [fullWidth]="true"
                [feedbackType]="FeedbackType.ERROR" 
                [label]="TEXTS.TICKER_LABEL"
                [required]="true"
                [disabled]="(isLoading$ | async) ?? false || !isAdd"
                [maxChars]="6"
                [tooltip]="isAdd ? TEXTS.TICKER_TOOLTIP : ''"
                type="TEXT"
                #ticker
            ></blu-input>
        </div>
    </div>
</div>