<div class="row g-3 mb-3">
    <div class="col-md-12">
        <blu-input 
            [fullWidth]="true"
            [feedbackType]="FeedbackType.ERROR" 
            [label]="TEXTS.TICKER_LABEL"
            [required]="true"
            [disabled]="(isLoading$ | async) ?? false || !isAdd"
            [maxChars]="6"
            [tooltip]="isAdd ? TEXTS.TICKER_TOOLTIP : ''"
            type="TEXT"
            #ticker
        ></blu-input>
    </div>
    <div class="col-md-6">
        <blu-input
            *ngIf="isAdd"
            type="INTEGER"
            initValue="1"
            [fullWidth]="true"
            [feedbackType]="FeedbackType.ERROR" 
            [label]="TEXTS.UNITS_LABEL"
            [tooltip]="TEXTS.UNITS_TOOLTIP"
            [required]="true"
            [disabled]="(isLoading$ | async) ?? false || !isAdd"
            #units
        ></blu-input>
    </div>
    <div class="col-md-6">
        <blu-input
            *ngIf="isAdd"
            [fullWidth]="true"
            [feedbackType]="FeedbackType.ERROR" 
            [label]="TEXTS.DATE_LABEL"
            [required]="true"
            [disabled]="(isLoading$ | async) ?? false || !isAdd"
            [tooltip]="isAdd ? TEXTS.DATE_TOOLTIP : ''"
            type="DATE"
            #purchaseDate
        ></blu-input>
    </div>
</div>