<div class="networth-wrapper">
    <blu-heading [isNumber]="true" size="large" [bold]="true" subheading="Net Worth" subheadingPosition="top">
        <div class="networth-tooltip-wrapper">
            {{ getNetworthString() }} 
            <span class="networth-tooltip">
                <blu-icon 
                    *ngIf="totalNetworth === 0" 
                    matTooltip="You can add assets using the 'Add' button" 
                    name="question"
                ></blu-icon>
            </span>
        </div>
    </blu-heading>
</div>