.networth-wrapper {
    min-width: fit-content;
    height: fit-content;
}

.networth-tooltip-wrapper {
    display: flex;
    align-items: flex-start;
}

.networth-tooltip {
    margin-top: var(--blu-margin-m);
    margin-left: var(--blu-margin-xs);
}