<blu-popup
  [title]="TEXTS.ADD_ASSET_TITLE"
  size="large"
>
    <app-add-asset 
    ></app-add-asset>
</blu-popup>
<!-- <div class="row justify-content-end">
    <div class="col-sm-6">
        <blu-heading>
            Overview
        </blu-heading>
    </div>
    <div class="col-sm-6">
        <blu-button type="secondary" size="small" iconName="plus">
            Add
        </blu-button>
    </div>
</div> -->
<div class="row justify-content-center">
    <div class="col-12 overview-wrapper">
        <div class="row overview-networth-wrapper">
            <div class="col-lg-6">
                <app-networth
                ></app-networth>
            </div>
        </div>
        <app-asset-table 
        ></app-asset-table>
    </div>
</div>