<div class="row justify-content-center px-2 px-sm-0 py-4">
  <div class="col-12 col-sm-10 col-xl-8 settings-page-wrapper">
    <blu-modal>
      <blu-button type="primary" iconName="backArrow" (click)="onBack()"
        >Back</blu-button
      >
      <blu-heading class="my-3" subheading="Last updated: 2/17/2024">
        Privacy policy
      </blu-heading>
      <blu-text>
        Finacle is committed to protecting the privacy of its users. This Privacy Policy outlines the types of personal information we collect, how it is used, and the steps we take to ensure your privacy is maintained.
      </blu-text>
      <blu-heading [bold]="true" class="my-2" size="s">
        Information We Collect
      </blu-heading> 
      <blu-heading [bold]="false" class="my-2" size="s">
        Personal Information
      </blu-heading> 
      <blu-text>
        When you sign up for an account on Finacle or subscribe, we may collect personal information such as your name, phone number, and email address
      </blu-text>
      <blu-heading [bold]="false" class="my-2" size="s">
        Usage Information
      </blu-heading> 
      <blu-text>
        When you use the Finacle, we collect data about your interactions with the service. This includes, but is not limited to:
      </blu-text>
      <ul>
        <li>
          <blu-text>Information You Enter: Any financial data, notes, or other types of information you input into the app.</blu-text>
        </li>
        <li>
          <blu-text>Upload Time: The specific times at which you upload or enter data into the app.</blu-text>
        </li>
        <li>
          <blu-text>Features Utilized: Which features within the app you access and use during your interactions.</blu-text>
        </li>
        <li>
          <blu-text>Actions Taken: The various actions you perform within the app, such as adding assets, tracking assets, etc.</blu-text>
        </li>
      </ul>
      <blu-heading [bold]="true" class="my-2" size="s">
        How We Use Your Information
      </blu-heading> 
      <blu-heading [bold]="false" class="my-2" size="s">
        Providing Services
      </blu-heading> 
      <blu-text>
        We use your personal information to provide you with access to Finacle and its features.
      </blu-text>
      <blu-heading [bold]="false" class="my-2" size="s">
        Improving Services
      </blu-heading> 
      <blu-text>
        We analyze usage data to enhance our services, improve user experience, and optimize our platform.
      </blu-text>
      <blu-heading [bold]="false" class="my-2" size="s">
        Communication
      </blu-heading> 
      <blu-text>
        We may use your email address to send you important updates, notifications, or promotional materials.
      </blu-text>
      <blu-heading [bold]="false" class="my-2" size="s">
        Transfer of Data
      </blu-heading> 
      <blu-text>
        Your information, including Personal Data, may be transferred to — and maintained on — computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ from those from your jurisdiction. If you are located outside the United States and choose to provide information to us, please note that we transfer the data, including Personal Data, to the United States and process it there. No data, whether personal or non-personal, will be transferred without your consent. Finacle will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy.
      </blu-text>
      <blu-heading [bold]="false" class="my-2" size="s">
        Information Security
      </blu-heading> 
      <blu-text>
        Finacle takes precautions to protect your information. However, no method of transmission over the internet or electronic storage is entirely secure. While we strive to use commercially acceptable means to protect your personal information, we cannot guarantee its absolute security.
      </blu-text>
      <blu-heading [bold]="false" class="my-2" size="s">
        Sharing Your Information
      </blu-heading> 
      <blu-text>
        Finacle will not share your personal information with third parties without your consent, except where required by law.
      </blu-text>
      <blu-heading [bold]="false" class="my-2" size="s">
        Your Choices
      </blu-heading> 
      <blu-text>
        You may terminate your account and all associated data by emailing us at hello(at)finacle.app. You can unsubscribe from any emails with a simple click in the email or in writing.
      </blu-text>
      <blu-heading [bold]="false" class="my-2" size="s">
        Changes to Privacy Policy
      </blu-heading> 
      <blu-text>
        Finacle reserves the right to modify this Privacy Policy at any time. Users are responsible for regularly reviewing the policy. By using this website, users agree to be bound by the current version of this Privacy Policy.
      </blu-text>
      <blu-heading [bold]="false" class="my-2" size="s">
        Contact Information
      </blu-heading> 
      <blu-text>
        For questions about this Privacy Policy, please contact us at hello(at)finacle.app.
      </blu-text>
      <blu-heading [bold]="false" class="my-2" size="s">
        Entire Agreement
      </blu-heading> 
      <blu-text>
        This Privacy Policy constitutes the entire agreement between the user and Finacle with respect to the service and supersedes all prior or contemporaneous communications and proposals, whether electronic, oral, or written, between the user and Finacle with respect to the service.
      </blu-text>
    </blu-modal>
  </div>
</div>
