<div class="row justify-content-center">
    <div class="col-11 col-sm-9 col-md-7 col-xl-5">
        <div class="add-vehicle-wrapper">
            <blu-modal [title]="TEXTS.MODAL_TITLE">
                <blu-input 
                    [fullWidth]="true" 
                    [disabled]="true" 
                    label="VIN"
                    [required]="false"
                    matTooltip="Tracking vehicle value by VIN will be added soon!">
                </blu-input>
                <div class="add-vehicle-break">
                    <blu-text size="medium">
                    or
                    </blu-text>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="add-vehicle-input">
                            <blu-select
                                [options]="vehicleMakes"
                                size="medium"
                                type="primary"
                                label="Vehicle make"
                                [required]="true"
                                #vehicleMake
                            ></blu-select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="add-vehicle-input">
                        <blu-select
                            [options]="modelYears"
                            label="Model year"
                            [required]="true"
                            size="medium"
                            type="primary"
                            #modelYear
                        ></blu-select>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="add-vehicle-input add-vehicle-input-second">
                        <blu-select
                            [options]="vehicleMileage"
                            label="Mileage"
                            [required]="true"
                            size="medium"
                            type="primary"
                            #mileage
                        ></blu-select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="add-vehicle-input">
                            <blu-input 
                                [fullWidth]="true"
                                [feedbackType]="FeedbackType.ERROR" 
                                type="TEXT"
                                label="Model name"
                                [required]="true"
                                #modelName
                            ></blu-input>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="add-vehicle-input">
                            <blu-input
                                [fullWidth]="true"
                                label="Nickname"
                                [required]="false"
                                #nickname
                            ></blu-input>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 order-md-1 order-2">
                        <div class="add-vehicle-button">
                            <blu-button [fullWidth]="true" type="secondary" (click)="onClose()">Back</blu-button>
                        </div>
                    </div>
                    <div class="col-md-8 order-md-2 order-1">
                        <div class="add-vehicle-button add-vehicle-input-second">
                            <blu-button
                                [fullWidth]="true" 
                                type="primary" 
                                (click)="onNext()"
                            >
                                <span *ngIf="(isLoading$ | async)" class="add-vehicle-spinner-wrapper">
                                    <blu-spinner></blu-spinner>
                                </span>
                                Next
                            </blu-button>
                        </div>
                    </div>
                    <div *ngIf="errorMessage$ | async" class="add-vehicle-feedback">
                        <blu-validation-feedback [type]="FeedbackType.ERROR">
                            {{ errorMessage$ | async }}
                        </blu-validation-feedback>
                    </div>
                </div>
            </blu-modal>
        </div>
    </div>
</div>
