.manual-value-entry-wrapper {
    margin: var(--blu-margin-l) 0;
    width: var(--blu-width-full);
    display: flex;
    align-items: center;
}

.manual-value-entry-amount {
    margin-left: var(--blu-margin-l);
}