<div class="row">
    <div class="manual-value-entry-wrapper">
        <div class="col-6">
            <blu-input 
                [fullWidth]="true"
                [feedbackType]="FeedbackType.ERROR"
                label="Date"
                type="DATE"
                #date
            ></blu-input>
        </div>
        <div class="col-6">
            <div class="manual-value-entry-amount">
                <blu-input 
                    [fullWidth]="true"
                    [feedbackType]="FeedbackType.ERROR"
                    label="Asset value"
                    type="CURRENCY"
                    direction="rtl"
                    #value
                ></blu-input>
            </div>
        </div>
    </div>
    <div class="col-12">
        <blu-button [fullWidth]="true" (click)="onAddEntry()">
            Add value
        </blu-button>
    </div>
</div>