.add-vehicle-wrapper {
    margin: var(--blu-margin-4xl) auto;
    max-width: var(--blu-width-5xl);
}

.add-vehicle-break {
    width: var(--blu-width-full);
    text-align: center;
    color: var(--blu-color-tertiary);
    margin-top: var(--blu-margin-l);
}

.add-vehicle-input {
    margin-bottom: var(--blu-margin-l);
}

.add-vehicle-spinner-wrapper {
    margin-right: var(--blu-margin-s);
}

.add-vehicle-wrapper {
    max-width: var(--blu-width-5xl);
}

.add-vehicle-button {
    margin-top: var(--blu-margin-xl);
}

.add-vehicle-input-second {
    margin-left: var(--blu-margin-l);
}

@media only screen and (max-width: 768px) {
    .add-vehicle-input-second {
        margin-left: var(--blu-margin-none);
    }
  }