.networth-wrapper {
    min-width: fit-content;
    min-height: var(--blu-height-l);
    height: fit-content;
}

.networth-tooltip-wrapper {
    display: flex;
    align-items: start;
}

.networth-tooltip {
    margin-top: var(--blu-margin-m);
    margin-left: var(--blu-margin-xs);
}

.networth-spinner-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    color: var(--blu-color-primary);
}