.sidebar-content {
  background-color: var(--blu-background-secondary);
  height: var(--blu-height-full);
  border-right: var(--blu-border-secondary);
  padding: 0 var(--blu-padding-xl);
}

.sidebar-title-wrapper {
  padding-top: var(--blu-margin-3xl);
  padding-bottom: var(--blu-margin-xl);
}

.sidebar-option {
  font: var(--blu-font-primary);
  color: var(--blu-color-tertiary);
  font-size: var(--blu-font-size-s);
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: var(--blu-margin-l);
  text-transform: capitalize;
  padding: var(--blu-padding-l) var(--blu-padding-xl);
}

.sidebar-option-text {
  margin-left: var(--blu-margin-l);
}

.sidebar-option-selected {
  color: var(--blu-color-primary);
  background-color: var(--blu-background-primary);
  border-radius: var(--blu-radius-s);
}

.sidebar-option-disabled {
  cursor: not-allowed;
}