.signup-wrapper {
  width: 100%;
  max-width: var(--blu-width-4xl);
  padding: var(--blu-padding-4xl) var(--blu-padding-l) 0 var(--blu-padding-l);
  margin: 0 auto;
}

.signup-modal-content {
  display: flex;
  flex-direction: column;
  gap: var(--blu-padding-l);
}

.signup-break {
  width: var(--blu-width-full);
  text-align: center;
  color: var(--blu-color-tertiary);
}

.signup-footer-text {
  margin-top: var(--blu-margin-s);
}
