<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="signup-wrapper">
  <blu-modal
    [title]="TEXTS.TITLE"
    [subtitle]="TEXTS.SUBTITLE"
  >
  <div class="signup-modal-content">
    <blu-input
      label="First name"
      [required]="true"
      [fullWidth]="true"
      [feedbackType]="FeedbackType.ERROR"
      type="TEXT"
      (keydown.enter)='onSignUp()'
      #nameInput
    ></blu-input>
    <blu-input
      label="Email"
      [required]="true"
      [fullWidth]="true"
      [feedbackType]="FeedbackType.ERROR"
      type="EMAIL"
      (keydown.enter)='onSignUp()'
      #emailInput
    ></blu-input>
    <blu-input
      label="Password"
      [required]="true"
      [fullWidth]="true"
      [feedbackType]="FeedbackType.ERROR"
      type="PASSWORD"
      (keydown.enter)='onSignUp()'
      #passwordInput
    ></blu-input>
    <blu-button type="primary" [fullWidth]="true" (click)="onSignUp()" (keydown.enter)='onSignUp()'>
      <div class="signup-spinner-wrapper">
        <blu-spinner *ngIf="isSignUpSubmitting$ | async"></blu-spinner>
      </div>
      {{ BTN_TEXTS.SIGNUP }}
    </blu-button>
    <div class="signup-break">
      <blu-text size="medium">
        {{ TEXTS.OR }}
      </blu-text>
    </div>
    <blu-button type="secondary" [fullWidth]="true" (click)="onToLogin()">
      <span class="login-submit-text">
        {{ BTN_TEXTS.LOGIN }}
      </span>
    </blu-button>
    </div>
  </blu-modal>
</div>
</div>
</div>