<app-add-asset-popup
    #addAssetPopup
></app-add-asset-popup>
<app-confirmation-popup
  [title]="TEXTS.DELETE_POPUP_TITLE_1 + assetToDelete?.assetName + TEXTS.DELETE_POPUP_TITLE_2"
  [subtitle]="TEXTS.DELETE_POPUP_SUBTITLE"
  [confirmText]="TEXTS.DELETE_POPUP_CTA"
  size="large"
  (confirmed)="onDeleteAssetConfirmed()"
  #deleteConfirmPopup
></app-confirmation-popup>
<div class="asset-table">
    <div *ngIf="((assets$ | async) ?? []).length === 0">
        <blu-text type="secondary">No assets added yet... <blu-link (click)="onAddAsset()">Add one?</blu-link></blu-text>
    </div>
    <mat-table 
        *ngIf="((assets$ | async) ?? []).length > 0" 
        #table 
        [dataSource]="(assets$ | async) ?? []"
    >
        <ng-container matColumnDef="account">
            <mat-header-cell *matHeaderCellDef>
                {{ TEXTS.ACCOUNT_TITLE }}
            </mat-header-cell>
            <mat-cell *matCellDef="let asset">
                <blu-text type="primary">{{asset.account}}</blu-text>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef>
            </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef>
                {{ TEXTS.TYPE_TITLE }}
            </mat-header-cell>
            <mat-cell *matCellDef="let asset" (click)="onDetailsAsset(asset)" class="asset-table-cell-clickable">
                <blu-text type="primary" [capitalize]="true">{{asset.assetType}}</blu-text>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef>
            </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="asset">
            <mat-header-cell *matHeaderCellDef>
                {{ TEXTS.ASSET_TITLE }}
            </mat-header-cell>
            <mat-cell *matCellDef="let asset" (click)="onDetailsAsset(asset)" class="asset-table-cell-clickable">
                <blu-text type="primary">{{asset.assetName}} {{asset.nickName ? ' (' + asset.nickName + ')' : ''}}</blu-text>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef>
            </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="units">
            <mat-header-cell *matHeaderCellDef>
                {{ TEXTS.UNITS_TITLE }}
            </mat-header-cell>
            <mat-cell *matCellDef="let asset" (click)="onDetailsAsset(asset)" class="asset-table-cell-clickable">
                <blu-text [isNumber]="true">{{ asset.units }}</blu-text>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef>
            </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="initValue">
            <mat-header-cell *matHeaderCellDef>
                {{ TEXTS.INIT_VALUE_TITLE }}
            </mat-header-cell>
            <mat-cell *matCellDef="let asset" class="asset-table-value-cell asset-table-cell-clickable" (click)="onDetailsAsset(asset)">
                <blu-text [isNumber]="true">${{(asset.initTotalValue ?? 0).toLocaleString('en-US', {maximumFractionDigits: 2, minimumFractionDigits: 2}) }}</blu-text>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef>
                <blu-text weight="bold" [isNumber]="true">${{ initTotal.toLocaleString('en-US', {maximumFractionDigits: 2, minimumFractionDigits: 2}) }}</blu-text>
            </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="curValue">
            <mat-header-cell *matHeaderCellDef>
                {{ TEXTS.VALUE_TITLE }}
            </mat-header-cell>
            <mat-cell *matCellDef="let asset" class="asset-table-value-cell asset-table-cell-clickable" (click)="onDetailsAsset(asset)">
                <blu-text [isNumber]="true">${{(asset.curTotalValue ?? 0).toLocaleString('en-US', {maximumFractionDigits: 2, minimumFractionDigits: 2}) }}</blu-text>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef>
                <blu-text weight="bold" [isNumber]="true">${{ curTotal.toLocaleString('en-US', {maximumFractionDigits: 2, minimumFractionDigits: 2}) }}</blu-text>
            </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="change">
            <mat-header-cell *matHeaderCellDef>
            </mat-header-cell>
            <mat-cell *matCellDef="let asset" class="asset-table-align-left">
                <blu-tag [type]="asset.curTotalValue >= asset.initTotalValue ? 'success' : 'error'">
                    <blu-icon [name]="asset.curTotalValue >= asset.initTotalValue ? 'chevronUp' : 'chevronDown'"></blu-icon>
                    <div class="asset-table-tag-text">
                        <blu-text [type]="asset.curTotalValue >= asset.initTotalValue ? 'success' : 'error'" size="small" [isNumber]="true">{{ getPercentChange(asset.initTotalValue, asset.curTotalValue).toString() | displayInteger }}%</blu-text>
                    </div>
                </blu-tag>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef>
                <blu-tag [type]="curTotal >= initTotal ? 'success' : 'error'">
                    <blu-icon [name]="curTotal >= initTotal ? 'chevronUp' : 'chevronDown'"></blu-icon>
                    <div class="asset-table-tag-text">
                        <blu-text [type]="curTotal >= initTotal ? 'success' : 'error'" size="small" [isNumber]="true">{{ getPercentChange(initTotal, curTotal) }}%</blu-text>
                    </div>
                </blu-tag>
            </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef>
            </mat-header-cell>
            <mat-cell *matCellDef="let asset" class="asset-table-value-cell">
                <blu-button [iconOnly]="true" iconName="kebab" type="tertiary" class="asset-table-edit-menu" [matMenuTriggerFor]="appMenu"></blu-button>
                <mat-menu #appMenu="matMenu" xPosition="before" yPosition="below">
                    <div mat-menu-item [disableRipple]="true" (click)="onDetailsAsset(asset)"><blu-text type="primary" size="small">{{ TEXTS.ENTRY_BUTTON_DETAILS }}</blu-text></div>
                    <div mat-menu-item [disableRipple]="true" (click)="onDeleteAsset(asset)"><blu-text type="error" size="small">Permanently delete</blu-text></div>
                </mat-menu>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef>
            </mat-footer-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns;"></mat-row>
        <mat-footer-row *matFooterRowDef="columns"></mat-footer-row>
    </mat-table>
</div>