.mat-mdc-cell,
.mat-mdc-header-cell,
.mat-mdc-footer-row {
    background-color: var(--blu-background-secondary) !important;
    padding-left: var(--blu-padding-xs);
}

.mat-column-select {
    min-width: 50px;
    width: 50px;
    max-width: 50px;

    --mdc-checkbox-unselected-hover-state-layer-color: rgba(0,0,0,0);
    --mdc-checkbox-unselected-pressed-state-layer-color: rgba(0,0,0,0);
    --mdc-checkbox-unselected-focus-state-layer-color: rgba(0,0,0,0);
    --mdc-checkbox-selected-hover-state-layer-color: rgba(0,0,0,0);
    --mdc-checkbox-selected-pressed-state-layer-color: rgba(0,0,0,0);
    --mdc-checkbox-selected-focus-state-layer-color: rgba(0,0,0,0);
    --mdc-checkbox-selected-icon-color: var(--blu-color-brand);
    --mdc-checkbox-unselected-icon-color: var(--blu-color-tertiary);
    --mdc-checkbox-selected-focus-icon-color: var(--blu-color-brand);
    --mdc-checkbox-selected-hover-icon-color: var(--blu-color-brand);
}

.mat-column-initValue,
.mat-column-curValue,
.mat-column-edit,
.mat-column-units {
    justify-content: right;
    text-align: right;
}

.mat-column-edit:last-of-type {
    padding: 0 var(--blu-padding-xs);
}

.mat-column-asset {
    min-width: 140px;
}

.mat-column-curValue,
.mat-column-initValue {
    min-width: 140px;
}

.mat-column-edit {
    min-width: 42px;
    width: 42px;
    max-width: 42px;
}

.mat-column-type {
    min-width: 110px;
    width: 110px;
    max-width: 110px;
}

.mat-column-change {
    max-width: 100px;
}

.asset-table-data {
    width: 100%;
    overflow: auto;
    max-height: 50vh;
}

.asset-table-button-group {
    display: flex;
    justify-content: flex-end;
    gap: var(--blu-space-xs);
}

.asset-table-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.asset-table-edit-menu {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.asset-table-edit-menu:hover .dropdown-content {
    display: block;
}

.asset-table-cell-clickable {
    cursor: pointer;
    display: flex;
    align-items: center;
}