<div class="add-vehicle-form-wrapper">
    <blu-input 
        [fullWidth]="true" 
        [disabled]="true" 
        label="VIN"
        [required]="false"
        matTooltip="Tracking vehicle value by VIN will be added soon!">
    </blu-input>
    <div class="add-vehicle-break">
        <blu-text size="medium">
            or
        </blu-text>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="add-vehicle-input">
                <blu-input 
                    [fullWidth]="true"
                    [feedbackType]="FeedbackType.ERROR" 
                    type="TEXT"
                    label="Vehicle make"
                    [required]="true"
                    #make
                    (keydown.enter)="onSubmit()"
                ></blu-input>
            </div>
        </div>
        <div class="col-md-6">
            <div class="add-vehicle-input">
                <blu-input 
                    [fullWidth]="true"
                    [feedbackType]="FeedbackType.ERROR" 
                    type="INTEGER"
                    label="Model year"
                    [required]="true"
                    #year
                    (keydown.enter)="onSubmit()"
                ></blu-input>
            </div>
        </div>
        <div class="col-md-6">
            <div class="add-vehicle-input add-vehicle-input-second">
                <blu-input 
                    [fullWidth]="true"
                    [feedbackType]="FeedbackType.ERROR" 
                    type="INTEGER"
                    label="Mileage"
                    [required]="true"
                    #mileage
                    (keydown.enter)="onSubmit()"
                ></blu-input>
            </div>
        </div>
        <div class="col-md-12">
            <div class="add-vehicle-input">
                <blu-input 
                    [fullWidth]="true"
                    [feedbackType]="FeedbackType.ERROR" 
                    type="TEXT"
                    label="Model name"
                    [required]="true"
                    #model
                    (keydown.enter)="onSubmit()"
                ></blu-input>
            </div>
        </div>
        <div class="col-md-12">
            <div class="add-vehicle-input">
                <blu-input
                    [fullWidth]="true"
                    label="Nickname"
                    [required]="false"
                    #nickname
                    (keydown.enter)="onSubmit()"
                ></blu-input>
            </div>
        </div>
        <div class="col-md-12">
            <div class="add-vehicle-input">
                <blu-input
                    [fullWidth]="true"
                    label="Annual depreciation rate"
                    [feedbackType]="FeedbackType.ERROR" 
                    type="NUMBER"
                    tooltip="The rate at which you expect the value of this vehicle to decrease. Industry average is 0.15."
                    [required]="false"
                    initValue="0.15"
                    #depreciationRate
                    (keydown.enter)="onSubmit()"
                ></blu-input>
            </div>
        </div>
    </div>
</div>