<div class="add-vehicle-form-wrapper">
    <div class="row">
        <div class="col-md-6">
            <div class="add-vehicle-input">
                <blu-input 
                    [fullWidth]="true"
                    [feedbackType]="FeedbackType.ERROR" 
                    type="VIN"
                    label="VIN"
                    [required]="true"
                    #vin
                    [disabled]="(isLoading$ | async) ?? false || !isAdd"
                    [tooltip]="isAdd ? 'We use the VIN of your car to automatically gather the car\'s information such as the make, model, and year. Adding a VIN will allow us to automatically update your vehicle\'s value.' : 'You may not change the VIN after the asset is created.'"
                ></blu-input>
            </div>
        </div>
        <div class="col-md-6">
            <div class="add-vehicle-input add-vehicle-input-second">
                <blu-input 
                    [fullWidth]="true"
                    [feedbackType]="FeedbackType.ERROR" 
                    type="INTEGER"
                    label="Mileage"
                    [required]="false"
                    #mileage
                    [disabled]="(isLoading$ | async) ?? false"
                    tooltip="If you leave mileage blank, we will use the average mileage for your vehicle to track its value."
                ></blu-input>
            </div>
        </div>
    </div>
    <div class="add-vehicle-switch" *ngIf="isAdd">
        <blu-text type="secondary">...or <blu-link (click)="onSwitchToCustom()">track via a custom asset</blu-link></blu-text>
    </div>
</div>