<div class="add-vehicle-form-wrapper">
    <div class="row" [hidden]="!isAdd && !(asset$ | async)?.vin || isAdd && !showVinTracking">
            <div class="col-md-6">
                <div class="add-vehicle-input">
                    <blu-input 
                        [fullWidth]="true"
                        [feedbackType]="FeedbackType.ERROR" 
                        type="TEXT"
                        label="VIN"
                        [required]="true"
                        #vin
                        [disabled]="
                            (isLoading$ | async) ?? false || !isAdd"
                        [tooltip]="isAdd ? 'We use the VIN of your car to automatically gather the car\'s information such as the make, model, and year. Adding a VIN will allow us to automatically update your vehicle\'s value.' : 'You may not change the VIN after the asset is created.'"
                    ></blu-input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="add-vehicle-input add-vehicle-input-second">
                    <blu-input 
                        [fullWidth]="true"
                        [feedbackType]="FeedbackType.ERROR" 
                        type="INTEGER"
                        label="Mileage"
                        [required]="false"
                        #mileageVin
                        [disabled]="(isLoading$ | async) ?? false"
                    ></blu-input>
                </div>
            </div>
        </div>
        <div 
            class="row"
            [hidden]="
                isAdd && showVinTracking ||
                !isAdd && (asset$ | async)?.vin
            "
        >
            <div class="col-md-6">
                <div class="add-vehicle-input">
                    <blu-input 
                        [fullWidth]="true"
                        [feedbackType]="FeedbackType.ERROR" 
                        type="TEXT"
                        label="Vehicle make"
                        [required]="true"
                        #make
                        [disabled]="(isLoading$ | async) ?? false"
                    ></blu-input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="add-vehicle-input add-vehicle-input-second">
                    <blu-input 
                        [fullWidth]="true"
                        [feedbackType]="FeedbackType.ERROR" 
                        type="TEXT"
                        label="Model name"
                        [required]="true"
                        #model
                        [disabled]="(isLoading$ | async) ?? false"
                    ></blu-input>
                </div>
            </div>
            <div class="col-md-3">
                <div class="add-vehicle-input">
                    <blu-input 
                        [fullWidth]="true"
                        [feedbackType]="FeedbackType.ERROR" 
                        type="INTEGER"
                        label="Model year"
                        [required]="true"
                        #year
                        [disabled]="(isLoading$ | async) ?? false"
                    ></blu-input>
                </div>
            </div>
            <div class="col-md-4">
                <div class="add-vehicle-input add-vehicle-input-second">
                    <blu-input 
                        [fullWidth]="true"
                        [feedbackType]="FeedbackType.ERROR" 
                        type="INTEGER"
                        label="Mileage"
                        [required]="false"
                        #mileage
                        [disabled]="(isLoading$ | async) ?? false"
                    ></blu-input>
                </div>
            </div>
            <div class="col-md-5">
                <div class="add-vehicle-input add-vehicle-input-second">
                    <blu-input
                        [fullWidth]="true"
                        label="Nickname"
                        [required]="false"
                        #nickname
                        [disabled]="(isLoading$ | async) ?? false"
                    ></blu-input>
                </div>
            </div>
            <div class="col-md-12">
                <div class="add-vehicle-input">
                    <blu-input
                        [fullWidth]="true"
                        label="Annual depreciation rate"
                        [feedbackType]="FeedbackType.ERROR" 
                        type="NUMBER"
                        tooltip="The rate at which you expect the value of this vehicle to decrease. Industry average is 0.15."
                        [required]="false"
                        initValue="0.15"
                        #depreciationRate
                        [disabled]="(isLoading$ | async) ?? false"
                    ></blu-input>
                </div>
            </div>
    </div>
    <div class="add-vehicle-switch" *ngIf="isAdd">
        <blu-text type="secondary">...or <blu-link (click)="onToggleTrackingType()">track {{ showVinTracking ? "via a custom asset" : "by VIN" }}</blu-link></blu-text>
    </div>
</div>