<div class="review-card-wrapper">
    <div class="review-card">
        <div class="review-card-content">
            <blu-heading
                type="primary"
                size="medium"
            >
                "Finacle is like the best thing ever omg!"
            </blu-heading>
            <blu-text type="primary">
                {{ "@SomeoneImportantIRL" }}
            </blu-text>
        </div>
    </div>
    <div class="review-card">
        <div class="review-card-content">
            <blu-heading
                type="primary"
                size="medium"
            >
                "Finacle is like the best thing ever omg!"
            </blu-heading>
        </div>
    </div>
</div>