.review-card {
    background: rgb(6,59,37);
    background: linear-gradient(158deg, rgba(6,59,37,1) 0%, rgba(62,62,62,1) 100%);
    border: 1px solid #898989;
    border-radius: var(--blu-radius-m);
    padding: var(--blu-padding-3xl);
    width: 400px;
    height: 250px;
    z-index: 2;
}

.review-card-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.review-card:not(:first-child) {
    margin-top: -235px;
    opacity: 0.4;
    scale: 0.95;
    fill: brightness(70%);
    border: none;
    z-index: 0;

    .review-card-content {
        filter: blur(10px);
    }
}