<div
    class="skeleton-loader"
    [ngClass]="{
        'skeleton-loader-s': size === 's',
        'skeleton-loader-m': size === 'm',
        'skeleton-loader-l': size === 'l',
        'skeleton-loader-xl': size === 'xl',
        'skeleton-loader-curved-s': curved === 's',
        'skeleton-loader-curved-m': curved === 'm',
        'skeleton-loader-curved-l': curved === 'l',
        'skeleton-loader-curved-xl': curved === 'xl',
    }"
    [style]="'height: ' + height.toString() + 'px;'"
></div>