.login-branding {
  position: absolute;
  top: var(--blu-margin-xxl);
  left: var(--blu-margin-xxl);
}

.login-side-wrapper {
  position: relative;
  display: block;
  background-color: var(--blu-background-secondary);
  padding: var(--blu-padding-4xl);
  width: var(--blu-width-full);
  border-right: var(--blu-border-tertiary);
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.login-side-content {
  display: flex;
  flex-direction: column;
  gap: var(--blu-space-s);
  height: fit-content;
  width: var(--blu-width-full);
  max-width: var(--blu-width-3xl);
  margin: auto;
}

.login-heading-wrapper {
  margin-bottom: var(--blu-margin-xl);
}

.login-main-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: var(--blu-height-full);
  width: var(--blu-width-full);
  padding: var(--blu-padding-4xl);
}

@media screen and (max-width: 991px) {
  .login-side-wrapper {
      min-height: 75vh;
  }
  
  .login-main-wrapper {
    min-height: 75vh;
  }
}
