<div class="row">
  <div class="col-lg-5 col-sm-12">
      <div class="login-side-wrapper">
        <div class="login-branding">
          <blu-text type="primary">
            Finacle
          </blu-text>
        </div>
        <div class="login-side-content">
          <blu-heading
            [subheading]="TEXTS.SUBTITLE"
            class="login-heading-wrapper"
          >
            {{ TEXTS.TITLE }}
          </blu-heading>
          <ng-container *ngIf="!showOTPDialog else OTPDialog">
            <blu-input
              [label]="LABELS.PHONE"
              [required]="true"
              [fullWidth]="true"
              [feedbackType]="FeedbackType.ERROR"
              [tooltip]="TOOLTIPS.PHONE"
              [maxChars]="10"
              type="NUMBER"
              (keydown.enter)='onSendCode()'
              #phoneInput
            ></blu-input>
            <blu-input
              [label]="LABELS.BETA"
              [required]="true"
              [fullWidth]="true"
              [feedbackType]="FeedbackType.ERROR"
              [tooltip]="TOOLTIPS.BETA"
              [maxChars]="5"
              type="NUMBER"
              (keydown.enter)='onSendCode()'
              #inviteCodeInput
            ></blu-input>
            <blu-button type="primary" [fullWidth]="true" (click)="onSendCode()">
              <blu-spinner *ngIf="isSendCodeSubmitting" [inlineSpace]="true"></blu-spinner>
              {{ BTN_TEXTS.LOGIN }}
            </blu-button>
          </ng-container>
      
          <ng-template #OTPDialog>
            <blu-input
              [label]="LABELS.OTP"
              [required]="true"
              [fullWidth]="true"
              [feedbackType]="FeedbackType.ERROR"
              [tooltip]="TOOLTIPS.OTP"
              [maxChars]="6"
              type="NUMBER"
              (keydown.enter)="onConfirmCode()"
              (input)="error$.next('')"
              #codeInput
            ></blu-input>
            <blu-validation-feedback
              *ngIf="error$ | async"
              [type]="FeedbackType.ERROR"
            >
              {{ error$ | async }}
            </blu-validation-feedback>
            <blu-button type="primary" [fullWidth]="true" (click)="onConfirmCode()">
              <blu-spinner *ngIf="isCheckTokenSubmitting" [inlineSpace]="true"></blu-spinner>
              {{ BTN_TEXTS.SUBMIT_CODE }}
            </blu-button>
            <blu-button type="secondary" iconName="backArrow" [fullWidth]="true" (click)="onBack()">
              {{ BTN_TEXTS.BACK }}
            </blu-button>
          </ng-template>
      </div>
    </div>
  </div>
  <div class="col-lg-7 col-sm-12">
    <div class="login-main-wrapper">
      <app-footer></app-footer>
    </div>
  </div>
</div>