.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr;
}

.content-wrapper {
  width: var(--blu-width-full);
  height: var(--blu-height-full);
  background-color: var(--blu-background-primary);
  overflow: scroll;
}