<blu-popup
  title="AI Feedback"
  subtitle="Updates automatically every 7 days"
  size="xl"
  #feedbackPopup
>
  <div class="ai-feedback-popup-wrapper pt-3">
    <div
      class="feedback-loading-state"
      *ngIf="!(aiFeedback$ | async); else displayFeedback"
    >
      <mat-progress-bar
        class="mb-2"
        mode="indeterminate"
        strokeWidth="5"
        diameter="75"
      ></mat-progress-bar>
      <blu-text class="mt-2">Gathering AI feedback...</blu-text>
    </div>
    <ng-template #displayFeedback>
      <div class="feedback-content">
        <blu-text type="secondary">
          {{ aiFeedback$ | async }}
        </blu-text>
        <blu-button class="mt-3" type="info"
          ><blu-icon name="help" class="me-2"></blu-icon>Provide response
          feedback</blu-button
        >
      </div>
    </ng-template>
  </div>
</blu-popup>
