.ai-feedback-popup-wrapper {
  display: flex;
  justify-content: center;
}

.feedback-loading-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.feedback-content {
  display: flex;
  flex-direction: column;
  width: var(--blu-width-full);
}
