.networth-wrapper {
    margin-bottom: var(--blu-margin-4xl);
    width: fit-content;
    min-height: var(--blu-height-l);
    height: fit-content;
}

.networth-spinner-wrapper {
    color: var(--blu-color-primary);
}